.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/profile_side_navbar", {activeItem: "fund"}
      .inline-block.relative.pg-account-detail
        = render "shares/profile"
        #profile-fund-show.tag-box.tag-box-v3.mt20.p20
          %h2
            发标资金总额：
            = @funds.sum(:amount)
          = render "funds/fund_list", ojbect: @current="xxx"

:javascript
  jQuery(document).ready(function() {
    $("#profile-fund-show tbody tr").click(function() {

      var invest_id = this.dataset.index;
      window.location.href = "/users/" + "#{current_user.id}" +"/funds/" + invest_id;
    });
    $("#profile-fund-show tbody tr").addClass("pointer");
  });
