.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/profile_side_navbar", {activeItem: "useredit"}
      .inline-block.relative.pg-account-detail
        .tab-v1
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#baseProfile"} 基本信息
            %li
              %a{"data-toggle" => "tab", :href => "#authenticationProfile"} 认证信息
          .tab-content
            #baseProfile.tab-pane.fade.active.in
              = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'sky-form'}) do |f|
                = devise_error_messages!
                %dl.dl-horizontal
                  %dt 个人简介
                  %dd
                    %section
                      %label.input
                        %i.icon-append.fa.fa-user
                        %input{:name => "user[abstract]", :type => "text", :value => "#{resource.abstract}"}/
                  %dt 昵称
                  %dd
                    %section
                      %label.input
                        %i.icon-append.fa.fa-user
                        %input{:name => "user[username]", :placeholder => "Username", :type => "text", :value => "#{resource.username}"}/
                        %b.tooltip.tooltip-bottom-right 登录网站所用
                  %dt 邮箱
                  %dd
                    %section
                      %label.input
                        %i.icon-append.fa.fa-envelope
                        %input{:name => "user[email]", :placeholder => "Email address", :type => "email", :value => "#{resource.email}"}/
                        %b.tooltip.tooltip-bottom-right 验证账户所用
                  %dt 密码
                  %dd
                    %section
                      %label.input
                        %i.icon-append.fa.fa-lock
                        %input#password{:name => "user[password]", :placeholder => "Password", :type => "password"}/
                        %b.tooltip.tooltip-bottom-right 不要忘了你的密码
                  %dt 确认密码
                  %dd
                    %section
                      %label.input
                        %i.icon-append.fa.fa-lock
                        %input{:name => "user[password_confirmation]", :placeholder => "Confirm password", :type => "password"}/
                        %b.tooltip.tooltip-bottom-right 不要忘了你的密码
                %button.btn-u.btn-u-default.ml100{:type => "reset"} 取消
                %button.btn-u{:type => "submit"} 保存修改
            #authenticationProfile.tab-pane.fade
              %h3 实名认证信息
              %hr
              .row
                .col-md-12
                  %label.bold.mr20
                    = User.human_attribute_name('real_name')
                    \:
                  %label
                    = current_user.real_name
              .row
                .col-md-12
                  %label.bold.mr20
                    = User.human_attribute_name('id_card_number')
                    \:
                  %label
                    = current_user.id_card_number
              - current_user.photos.each do |f|
                .row
                  .col-md-12
                    %label.bold.mr20
                      = f.title
                      \:
                    %label
                      = image_tag f.photo.url,class: "img-thumbnail img-rounded #{'w300' if !f.photo.blank?}"
              = link_to "点此修改实名认证信息", investor_apply_user_path(current_user),class: "btn-u btn-u-default"
              %hr
              %h3 发标人审核信息
              %hr
              .row
                .col-md-12
                  %label.bold.mr20
                    = User.human_attribute_name('cell')
                    \:
                  %label
                    = current_user.cell
              .row
                .col-md-12
                  %label.bold.mr20
                    = User.human_attribute_name('birthday')
                    \:
                  %label.formattime
                    = current_user.birthday
              .row
                .col-md-12
                  %label.bold.mr20
                    = User.human_attribute_name('gender')
                    \:
                  %label
                    = current_user.gender
              .row
                .col-md-12
                  %label.bold.mr20
                    = User.human_attribute_name('education')
                    \:
                  %label
                    = current_user.education
              .row
                .col-md-12
                  %label.bold.mr20
                    = User.human_attribute_name('address')
                    \:
                  %label
                    = current_user.address
              .row
                .col-md-12
                  %label.bold.mr20
                    = User.human_attribute_name('job')
                    \:
                  %label
                    = current_user.address
              = link_to "点此修改发标人认证信息", trader_apply_user_path(current_user),class: "btn-u btn-u-default"
:javascript
  // $(function() {
  //   var ptn = /\/users\/edit\/#authencation*$/;
  //   if (ptn.test(window.location.href)) {
  //     $("#pg-account-index .tab-v1 ul.nav.nav-tabs li:nth-child(2) a").tab('show');
  //   }
  // });
