.pg-container-content
  #pg-account-index.pg-account
    .container.content.fn-clear
      .bg-white.p30
        = render "shares/profile_side_navbar", {activeItem: "useredit"}
        .inline-block.relative.pg-account-detail
          .tab-v1
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#baseProfile"} 基本信息
              %li
                %a{"data-toggle" => "tab", :href => "#authenticationProfile"} 认证信息
              %li
                %a{"data-toggle" => "tab", :href => "#fabiao"} 发标人审核
              %li
                %a{"data-toggle" => "tab", :href => "#editPassword"} 更改密码
            .tab-content
              #baseProfile.tab-pane.fade.active.in.mt30
                = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'sky-form'}) do |f|
                  = devise_error_messages!
                  %dl.dl-horizontal.pl50
                    %dt 昵称
                    %dd
                      %section
                        %label.input.w250
                          %i.icon-append.fa.fa-user
                          %input{:name => "user[username]", :placeholder => "昵称", :type => "text", :value => "#{current_user.username}"}/
                          %b.tooltip.tooltip-bottom-right 登录网站所用
                    %dt 邮箱
                    %dd
                      %section
                        %label.input.w250
                          %i.icon-append.fa.fa-envelope
                          %input{:name => "user[email]", :placeholder => "电子邮箱", :type => "email", :value => "#{current_user.email}"}/
                          %b.tooltip.tooltip-bottom-right 验证账户所用
                    %dt 个人简介
                    %dd
                      -# %section
                      -#   %label.input
                      -#     %i.icon-append.fa.fa-user
                      %textarea.w250{:name => "user[abstract]", :type => "text", :value => "#{current_user.abstract}",:style=>"max-width: 250px;height:200px;"}
                  .text-center
                    %button.btn-u.btn-u-default.mr20{:type => "reset"} 取消
                    %button.btn-u{:type => "submit"} 保存修改
              #authenticationProfile.tab-pane.fade.mt30.pl30
                -# %h3 实名认证
                -# %hr
                = simple_nested_form_for(@user,url: investor_applied_user_path(current_user),   |
                  html: { class: 'form-horizontal sky-form', id: 'authentication_form',enctype: "multipart/form-data" },                     |
                  wrapper: :horizontal_form,                              |
                  wrapper_mappings: {                                     |
                  check_boxes: :horizontal_radio_and_checkboxes,          |
                  radio_buttons: :horizontal_radio_and_checkboxes,      |
                  file: :horizontal_file_input,                         |
                  boolean: :horizontal_boolean}) do |f|                 |
                  - if current_user.real_name.blank?
                    .form-group
                      %label.optional.col-sm-4.control-label
                        %span 真实姓名
                      .col-sm-6
                        %input.form-control{:name => "user[real_name]"}
                    .form-group
                      %label.optional.col-sm-4.control-label
                        %span 身份证号
                      .col-sm-6
                        %input.form-control{:name => "user[id_card_number]"}
                    -# = f.input :real_name
                    -# = f.input :id_card_number
                  - else
                    .form-group.optional
                      %label.optional.col-sm-4.control-label
                        %span
                          = User.human_attribute_name('real_name')
                          \:
                      .col-sm-6.mt5
                        %span.bold= current_user.real_name
                    .form-group.optional
                      %label.optional.col-sm-4.control-label
                        %span
                          = User.human_attribute_name('id_card_number')
                          \:
                      .col-sm-6.mt5
                        %span.bold= current_user.id_card_number
                  = f.fields_for :identity_photos do |photo_form|
                    .form-group.optional
                      %label.optional.col-sm-4.control-label
                        %span{:name => "user[identity_photos_attributes][#{photo_form.index}][title]", :value => "#{photo_form.object.title}"}= photo_form.object.title
                      .col-sm-6
                        %label.input.input-file
                          .button
                            %input{:type =>"file", :name =>"user[identity_photos_attributes][#{photo_form.index}][photo]", :multiple => "", :onchange => "this.parentNode.nextElementSibling.value = this.value", :accept => "image/*"} 浏览
                          %input{:type => "text", :readonly => ""}
                    .text-center.w140.margin-auto
                      = image_tag current_user.identity_photos[photo_form.index].photo.url,class: "img-thumbnail img-rounded #{'w140' if !current_user.identity_photos[photo_form.index].photo.blank?}"
                  .text-center
                    = f.button :submit,class: "btn-u btn-u-red"
              #fabiao.tab-pane.fade.mt30
                -# %h3 发表人审核
                -# %hr
                = simple_nested_form_for(@user,url: trader_applied_user_path(current_user),  |
                  html: { class: 'form-horizontal sky-form', id: 'trader_authentication_form',enctype: "multipart/form-data" },                   |
                  wrapper: :horizontal_form,                            |
                  wrapper_mappings: {                                   |
                  check_boxes: :horizontal_radio_and_checkboxes,        |
                  radio_buttons: :horizontal_radio_and_checkboxes,      |
                  file: :horizontal_file_input,                         |
                  boolean: :horizontal_boolean}) do |f|                 |
                  = f.input :real_name, disabled: true, as: :hidden
                  -# = f.input :cell, input_html: {class: 'numberic', maxlength: '11', pattern: "\d{3}-\d{8}|\d{4}-\{7,8}"}
                  .form-group.hide
                    %label.optional.col-sm-4.control-label
                      %span 手机
                    .col-sm-6
                      %input.form-control.numberic{:name => "user[cell]", maxlength: '11', pattern: "\d{3}-\d{8}|\d{4}-\{7,8}",value: current_user.cell, type: 'hidden'}/
                  .form-group
                    %label.col-sm-4.control-label 生日
                    .col-sm-6
                      .birthday
                        %input#birthday{:name => "user[birthday]",:class => "birthday_input", :type => "hidden", :value => current_user.birthday}/
                        .w100.inline-block
                          .select
                            %select{:class => "birthday_year",:rel => "1990", :type => "text"}
                            %i
                        .w100.inline-block
                          .select
                            %select{:class => "birthday_month",:rel => "2", :type => "text"}
                            %i
                        .w100.inline-block
                          .select
                            %select{:class => "birthday_day",:rel => "14", :type => "text"}
                            %i
                  .form-group.select
                    %label.optional.col-sm-4.control-label
                      %span 性别
                    .col-sm-6
                      %select.form-control{name: "user[gender]", id: "user_gender", :value => "#{current_user.gender}"}
                        - ['male','female'].each do |sg|
                          - if(sg == current_user.gender)
                            %option{:value => sg, :selected => 'selected'}= t(sg)
                          - else
                            %option{:value => sg}= t(sg)
                  -# = f.input :gender, collection: [[t(:male),:male], [t(:female),:female]],include_blank: false
                  .form-group
                    %label.optional.col-sm-4.control-label
                      %span 学历
                    .col-sm-6
                      %input.form-control{:name => "user[education]"}
                  -# = f.input :education
                  -# .user_education.form-group.optional
                  -#   %label.string.optional.col-sm-4.control-label
                  -#     %span
                  -#       (学历图片证明)
                  -#   %label.input.input-file.col-sm-6.state-success
                  -#     .button
                  -#       %input{:type => "file",:name =>"education_photo", :onchange => "this.parentNode.nextElementSibling.value = this.value", :accept => "image/*"}
                  -#       %span
                  -#         浏览
                  -#     %input{:type => "text", :readonly => ""}
                  .form-group
                    %label.optional.col-sm-4.control-label
                      %span 住址
                    .col-sm-6
                      %input.form-control{:name => "user[address]"}
                  -# = f.input :address
                  -# .user_address.form-group.optional
                  -#   %label.string.optional.col-sm-4.control-label
                  -#     %span
                  -#       (住址图片证明)
                  -#   %label.input.input-file.col-sm-6.state-success
                  -#     .button
                  -#       %input#address_photo{:type => "file", :name => "address_photo", :onchange => "this.parentNode.nextElementSibling.value =this.value", :value => "this.parentNode.nextElementSibling.value =this.value"}
                  -#       %span
                  -#         浏览
                  -#     %input{:type => "text", :readonly => ""}
                  .form-group
                    %label.optional.col-sm-4.control-label
                      %span 工作
                    .col-sm-6
                      %input.form-control{:name => "user[job]"}
                  -# = f.input :job
                  .text-center
                    = f.button :submit,class: "btn-u btn-u-red"
              #editPassword.tab-pane.fade.mt30
                = form_for(@user, :url => reset_password_users_path, |
                  html: { class: 'form-horizontal sky-form'},         |
                  wrapper: :horizontal_form,                            |
                  wrapper_mappings: {                                   |
                  check_boxes: :horizontal_radio_and_checkboxes,        |
                  radio_buttons: :horizontal_radio_and_checkboxes,      |
                  file: :horizontal_file_input,                         |
                  boolean: :horizontal_boolean}) do |f|                 |
                  %dl.dl-horizontal.pl50
                    %dt
                    %dd.zdy-red.ml100.mb30= flash[:info]
                    %dt 当前密码
                    %dd
                      %section
                        %label.input.w250
                          %i.icon-append.fa.fa-key
                          %input{:name => "user[current_password]",:placeholder => '需要当前密码确认您的更改', :type => "password"}/
                    %dt 密码
                    %dd
                      %section
                        %label.input.w250
                          %i.icon-append.fa.fa-key
                          %input{:name => "user[password]", :type => "password"}/
                    %dt 确认密码
                    %dd
                      %section
                        %label.input.w250
                          %i.icon-append.fa.fa-key
                          %input{:name => "user[password_confirmation]", :type => "password"}/
                  .text-center
                    %button.btn-u{:type => "submit"} 保存修改

:javascript
  $(function() {
    var ptn = /\/users\/edit\/#auth*$/;
    if (ptn.test(window.location.href)) {
      $("#pg-account-index .tab-v1 ul.nav.nav-tabs li:nth-child(2) a").tab('show');
    }
    ptn = /\/users\/edit\/#trader_auth*$/;
    if (ptn.test(window.location.href)) {
      $("#pg-account-index .tab-v1 ul.nav.nav-tabs li:nth-child(3) a").tab('show');
    }
    ptn = /\/users\/edit\/#edit_password*$/;
    if (ptn.test(window.location.href)) {
      $("#pg-account-index .tab-v1 ul.nav.nav-tabs li:nth-child(4) a").tab('show');
    }
    console.log("#{current_user.birthday}");
    var birth_day = $("#birthday").val();
    var birth_day_spl1 = birth_day.split('-');
    var birth_day_spl2 = birth_day.split('/');
    if (birth_day_spl1.length === 3){
      $(".birthday_year").attr('rel',birth_day_spl1[0]);
      $(".birthday_month").attr('rel',birth_day_spl1[1]);
      $(".birthday_day").attr('rel',birth_day_spl1[2]);
    }else if(birth_day_spl2.length === 3) {
      $(".birthday_year").attr('rel',birth_day_spl2[0]);
      $(".birthday_month").attr('rel',birth_day_spl2[1]);
      $(".birthday_day").attr('rel',birth_day_spl2[2]);
    }

    $.ms_DatePicker('birthday')
  });
