
.container.content
  .row
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'reg-page'}) do |f|
        .reg-header
          %h2 注册
          %p
            已经注册 ? #{link_to("立即登录",new_user_session_path,rel: "nofollow", class: "color-blue")}。
        = devise_error_messages!
        %label
          手机号码
          %span.color-red *
        %br/
        = f.text_field(:cell, autofocus: true, class: "form-control margin-bottom-20")
        %label
          密码
          %span.color-red *
        - if @validatable
          %em
            (最少#{@minimum_password_length}个字符,最少包含一个数字和一个字母)
        %br/
        = f.password_field(:password, autocomplete: "off", |
          class: "form-control margin-bottom-20",pattern: "(?=^.{8,}$).*$",title:"Three letter country code")
        %label
          确认密码
          %span.color-red *
        %br/
        = f.password_field(:password_confirmation, autocomplete: "off", class: "form-control margin-bottom-20")
        %hr/
        .row
          .col-lg-6.checkbox
            %label
              %input#check{:type => "checkbox"}/
              已阅读
              %a.color-blue{:href => "page_terms.html"} 条款
          .col-lg-6.text-right
            %button.btn-u#submit{:name => "commit", :type => "button", :value => "Sign up"} 注册
            %input#subbtn{:type=>"submit",:style=>"display:none;"}
:javascript
    $(function(){
      $('#submit').bind('click',function(){
        if($(this).closest('form').find('#check').attr('checked')){
          $('#subbtn').click();
        }else{
          alert('提交注册前请先阅读并勾选确认条款');
        }
      });
    });
