.container.content
  .guide_header
    = image_tag "guide/guide_header.png",width:"100%"
  .tab-v2.guide_tab
    %div.text-center
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#guide_invest"} 我要投资
        %li
          %a{"data-toggle" => "tab", :href => "#guide_fund"} 我要操盘
        %li
          %a{"data-toggle" => "tab", :href => "#guide_secure"} 安全保障
    .tab-content.text-center.relative
      #guide_invest.tab-pane.fade.active.in
        .mt20
          = image_tag "guide/guide_invest.png",width:"100%"
          = link_to("立即注册",new_user_registration_path,class: "btn-u btn-u-red reg",rel: "nofollow")
          %p 1分钟成为摩尔街会员，轻松开始理财
      #guide_fund.tab-pane.fade
        .mt20
          = image_tag "guide/guide_funder.png",width:"100%"
          = link_to("立即注册",new_user_registration_path,class: "btn-u btn-u-red reg",rel: "nofollow")
          %p 1分钟成为摩尔街会员，轻松开始理财
      #guide_secure.tab-pane.fade
        .mt20
          = image_tag "guide/guide_secure.png",width:"100%"


- @navItem = 'guide'
