= simple_form_for [@fund, @invest] do |f|
	= f.input :fund_id, value: @fund.id, as: :hidden
	= f.input :date, as: :hidden
	.form-group.mb0
		%label
			= "剩余投资额（元）"
		%br
		%label.fs28.zdy-gold
			%i.fa.fa-jpy
			= (@fund.amount - @invests.sum(:amount)).to_s()
	.form-group
		%label.mr20 账户余额（元）:
		%label
			- if current_user
				= current_user.account.balance
			- else
				= link_to("登录",new_user_session_path,id: "login-panel",class: "btn btn-sm",rel: "nofollow")
				= "后可见"
	.input-group
		%input#invest_input_can.form-control.text-center.numberic{:name => "invest[amount]",:maxlength => 7,:placeholder => "请输入计划投资的金额"}
		%span.input-group-addon.zdy-bg-gold  元
	.mb10.fs-sm.mt10
		%input#check{:type => "checkbox",:checked => ""}/
		我已阅读并同意
		%a.color-blue.sky-blue-i.gppz_items{:href => "javascript:;"} 条款
	= f.submit class: "hide",id: 'subbtn'
	.text-center
		%button.btn-u.btn-u-orange#submit{:name => "commit", :type => "button"} 我要投资

:javascript
	$(function(){
		var minimum = parseInt("#{@fund.minimum}");
		var maxmum = parseInt("#{(@fund.amount - @invests.sum(:amount))}");
		if(maxmum > 0 && maxmum < minimum) {
			minimum = maxmum;
		}
		$('#submit').bind('click',function(){
			var crt_amount = parseInt($("#invest_input_can").val()) || 0;
			if ($(".can_invest").length > 0) {
				alert("请填写正确的暗标码，并解锁");
				return;
			}
			if (maxmum <= 0) {
				alert("当前标的已投满，正等待审核");
				return;
			}
			if (crt_amount < minimum) {
				alert("您输入的投资额小于最小投资额");
				return;
			}
			var myBalance = parseFloat("#{current_user.account.balance if current_user}");
			if (crt_amount > myBalance) {
				if(confirm("您余额不足，请充值，确认充值？")){
					window.open("#{bankcard_charge_user_account_path(current_user) if current_user} #{'javascript:;' unless current_user}");
				}
				return;
			}
			if (crt_amount < 1) {
				alert("投标金额必须大于等于1元");
				return;
			}
		  if($(this).closest('form').find('#check').attr('checked')){
		    $('#subbtn').click();
		  }else{
		    alert('请您先阅读并勾选确认条款');
		  }
		});
		$(".gppz_items").click(function(){
			var winHeight = 600;
			var winWidth = 600;
			var winLeft = (screen.width-600)/2;
			var winTop = (screen.height-600)/2;
			window.open("/gppz_items.html", "newwindow", "height="+winHeight+", width="+winWidth+", toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no, left="+winLeft+", top="+winTop);
		});
		$("#invest_input_can").bind('input', function() {
			var crt_amount = parseInt($(this).val()) || 0;
			if (crt_amount > maxmum) {
				crt_amount = maxmum;
			}else if (crt_amount < minimum) {
				//crt_amount = minimum;
			}

			$(this).val(crt_amount);
		});
	});
