%table.table.table-striped.table-bordered
  %thead
    %tr
      - unless @current=="xxx"
        %th= Invest.human_attribute_name('user')
      - else
        %th= Fund.human_attribute_name('name')
        / %th 发标人
        %th= Fund.human_attribute_name('amount')

        %th= Fund.human_attribute_name('collection_deadline')
        / %th Fund.human_attribute_name('minimum')
        %th= Fund.human_attribute_name('invest_starting_date')
        %th= Fund.human_attribute_name('invest_ending_date')
      / %th 发标人

      %th= Invest.human_attribute_name('date')

      %th= Invest.human_attribute_name('amount')
  -# todo, 处理 private_check
  %tbody
    - @invests.each do |f|
      %tr{'data-index' => f.id}
        - unless @current=="xxx"
          %th= f.user.email
        - else
          %td= f.fund.name
          / %td= f.user.nick_name
          %td= f.fund.amount

          %td.formattime= f.fund.collection_deadline
          / %td= f.minimum
          %td.formattime= f.fund.invest_starting_date
          %td.formattime= f.fund.invest_ending_date
        %td.formattime= f.date
        %td= f.amount
