%table.table.table-striped
  %thead
    %tr
      %th= Invest.human_attribute_name('id')
      - unless @current=="xxx"
        %th= Invest.human_attribute_name('user')
      - else
        %th= Fund.human_attribute_name('name')
        %th= Fund.human_attribute_name('user')
        / %th 发标人
        -# %th= Fund.human_attribute_name('minimum')
        %th= Fund.human_attribute_name('amount')

        -# %th= Fund.human_attribute_name('collection_deadline')
        -#
        -# %th= Fund.human_attribute_name('invest_starting_date')
        -# %th= Fund.human_attribute_name('invest_ending_date')
        %th 冻结资金
        %th= Fund.human_attribute_name('expected_earning_rate')
        %th= Fund.human_attribute_name('earning_rate')
        %th= Fund.human_attribute_name('state')
      %th= Invest.human_attribute_name('amount')
      %th= Invest.human_attribute_name('date')
  -# todo, 处理 private_check
  %tbody
    - @invests.each do |f|
      - if f.user
        %tr{'data-index' => f.id}
          %td= f.id
          - unless @current=="xxx"
            %td= "#{f.user.email}"
          - else
            %td= f.fund.name
            %td
              - if f.fund.user.username
                = f.fund.user.email
              - else
                = check_private(f.fund.user.cell.to_s())
            -# %td
            -#   = f.fund.minimum
            -#   = '元' unless f.fund.minimum.blank?
            %td
              = f.fund.amount
              = '元' unless f.fund.amount.blank?

            -# %td.formattime= f.fund.collection_deadline
            -# / %td= f.minimum
            -# %td{:class => "#{'formattime' unless f.fund.invest_starting_date.blank?}"}= f.fund.invest_starting_date
            -# %td{:class => "#{'formattime' unless f.fund.invest_ending_date.blank?}"}= f.fund.invest_ending_date
            %td xxxxxx
            %td
              = f.fund.expected_earning_rate
              = '%' if !f.fund.expected_earning_rate.blank?
            %td
              = f.fund.earning_rate
              = '%' if !f.fund.earning_rate.blank?
            %td= f.fund.state
          %td
            = f.amount
            = '元' unless f.amount.blank?
          %td.formattime= f.date
