.container.content
  - if current_user && current_user.level == 'unverified'
    .text-center.min-height300.pt80
      %h3 请进行实名认证
      = link_to "点此进行实名认证", "#{edit_user_registration_path}/#auth"
  - elsif current_user && current_user.level == 'investor_applied'
    .text-center.min-height300.pt80
      %h3 您已提交实名认证申请，请等待审核
  - else
    -# - if @fund.private_check == 'private'
    -#   .p20.text-center
    -#     %label 暗号:
    -#     %input.unlock_val
    -#     %a.btn-u.btn-u-orange.btn-u-xs.unlock_btn UNLOCK
    -# .row
    -#   - if @fund.state == "gathering"
    -#     - if @flag
    -#       .col-xs-12.new_invest_form
    -#         %p= render 'form'
    -#     - else
    -#       .col-xs-12.hide.new_invest_form
    -#         %p= render 'form'
    .row.mt10
      = render 'users/funder_info',{user: @fund.user}
    .row
      .col-xs-12.fund_base_info
        = render 'funds/fund_base_info', {invests_amount: @invests.sum(:amount)}

    .tag-box.tag-box-v3.mt20.p20.pt0
      .row
        .col-md-4.col-sm-6.col-xs-6
          .headline.headline-md.relative
            %h4 当前标的业绩
          .text-center
            #fund_history_chart.chart_box
        .col-md-4.col-sm-6.col-xs-6
          .headline.headline-md
            %h4 当前标的数据
            = link_to "更多","#",class: "float-right"
          .mt10
            - if @fund_list_array
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th.text-center 净值时间
                    %th.text-center 单位净值
                    %th.text-center 增长率
                %tbody
                  - @fund_list_array.each do |f|
                    %tr
                      %td.text-center
                        = f[0]
                      %td.text-center
                        = f[1]
                      %td.text-center
            - else
              %h2.text-center.p20 还没有历史数据
        .col-md-4.col-sm-12.col-xs-12
          .headline.headline-md
            %h4 证明图片
          .mt10
            - if @check_user_bid === 'true'
              - if @fund_verify_photos && !@fund_verify_photos.empty?
                .owl-carousel-v1.owl-carousel-style-v1
                  .owl-navigation
                    .customNavigation
                      %a.owl-btn.prev-v1
                        %i.fa.fa-angle-left
                      %a.owl-btn.next-v1
                        %i.fa.fa-angle-right
                  .owl-slider
                    - @fund_verify_photos.each do |f|
                      - if f.photo && f.photo.url
                        .item
                          %a.fancybox-button.zoomer{:href => f.photo.url, 'data-rel' => "fancybox-button"}
                            %span.overlay-zoom
                              = image_tag f.photo.url.split("?")[0] + '?imageView2/1/w/335/h/168/interlace/1',class: "img-responsive"
                              %span.zoom-icon

              - else
                %h2.text-center.p20 还没有证明图片
            -else
              %h2.text-center.p20 请投标后查看
    .row
      .col-xs-12
        .panel.panel-grey
          .panel-heading
            .panel-title
              %label.mr40.fs18
                投资记录
              %label.float-right
                %label.mr15
                  %span 人次：
                  %span= @invests.count
                %label
                  %span 投标总额：
                  %span
                    = @invests.sum(:amount)
                    元
          .panel-title
            = render "invest_list"

    -# .row
    -#   .col-md-12
    -#     .tag-box.tag-box-v3
    -#       评论。。/*cap1*/
- @navItem = 'funds'

:javascript
  $(function(){
   $(".unlock_btn").click(function(){
     if ("#{current_user}" === "") {
       alert("请登录...");
       return;
     }
     var unlock_val = $(".unlock_val").val();
     if (unlock_val === "") {
       alert("请输入暗标码...");
       return;
     }
     var fund_id = "#{@fund.id}";
     var postdata = {
       "private_code": unlock_val
     };
     var post_url = "/funds/"+fund_id+"/invests/"+"unlock";
     var post_type = 'post';
     $.ajax({
       url: post_url,
       type: post_type,
       dataType: 'json',
       data: JSON.stringify(postdata),
       processData: false,
       headers: {
         'X-CSRF-Token': $("input[name='authenticity_token']").val()
       },
       contentType: "application/json; charset=UTF-8",
       success: function(data) {
         location.reload();
       },
       error: function() {
         console.log("系统繁忙，请稍后再试");
       }
     });
   });
   var seriesOptions = [],
       seriesCounter = 0,
       names = ['我的业绩', '沪深300'],
       createChart = function () {
           var chart1 = new Highcharts.StockChart({
             colors: ['#D5402E', '#1868AB'],
             chart:
             {
                 renderTo: 'fund_history_chart',
                 width: 300,
                 height: 230
             },

             credits:
             {
                 enabled: true,
                 href: null,
                 text: ''
             },
             exporting:{ enabled:false},
             title: { text:null, style:{color:'#004789'}},
             rangeSelector: {  enabled:false},
             tooltip:
             {
                 enabled: true,
                 crosshairs: true,
                 formatter: function()
                 {

                     var header = '<b>时间: ' + Highcharts.dateFormat('%Y年%m月%d日 ', this.x)+'</b>';
                     $.each(this.points, function(i, point)
                     {
                         header += '<br/><span style="color:' + this.point.series.color + '">' + this.point.series.name +':'+Highcharts.numberFormat(this.y,4)+'</span>';
                     });
                     return header;
                 }
             },
             xAxis:
             {


                 type: 'datetime',
                 gridLineDashStyle: 'longdash',


                 dateTimeLabelFormats:
                 {
                     second: '%Y-%m-%d<br/>%H:%M:%S',
                     minute: '%Y-%m-%d<br/>%H:%M',
                     hour: '%Y-%m-%d<br/>%H:%M',
                     day: '%Y<br/>%m-%d',
                     week: '%Y<br/>%m-%d',
                     month: '%Y-%m',
                     year: '%Y'
                 },
                 gridLineWidth: 1,
                 lineColor: '#000',
                 tickColor: '#000',
                 showFirstLabel:true,
                 showLastLabel:true,
                 labels:
                 {

                     style:
                     {
                         color: '#000',
                         font: '11px Trebuchet MS, Verdana, sans-serif',
                         align: 'right',
                         style: { font: 'normal 13px 宋体' }
                     },
                     formatter: function()
                     {

                         return Highcharts.dateFormat('%Y-%m-%d',this.value);
                     }
                 },
                 title:
                 {
                     style:
                     {
                         color: '#333',
                         fontWeight: 'bold',
                         fontSize: '12px',
                         fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                     }
                 }
             },

             yAxis:
             {
                 showLastLabel :true,
             //    max:max_shuzhi,
             //    min:min_shuzhi,
                 tickPixelInterval :40,
                 lineColor: '#000',
                 lineWidth: 1,
                 tickWidth: 1,

                 tickColor: '#000',
                 labels:
                 {
                     align:'right',
                     x:-10,
                     y:5,
                     style:
                     {
                         color: '#000',
                         font: '11px Trebuchet MS, Verdana, sans-serif'
                     }
                 },
                 title:
                 {
                     style:
                     {
                         color: '#333',
                         fontWeight: 'bold',
                         fontSize: '12px',
                         fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                     }
                 }
             },
             legend:
             {
                 enabled: true,
                 itemStyle:
                 {
                     font: '9pt Trebuchet MS, Verdana, sans-serif',
                     color: '#004789'

                 },
                 itemHoverStyle:
                 {
                     color: '#004789'
                 }

             },
             scrollbar:{enabled:false},
             navigator:
             {
                 enabled:true,
                 top:160,
                 height:20,
                 xAxis:
                 {
                     labels:
                     {
                         enabled:false
                     }
                 }

             },

             plotOptions:
             {
                 series:{ lineWidth:1 },
                 line:
                 {
                     cursor:'pointer',
                     shadow:false,
                     states:
                     {	/*状态*/
                         hover:
                         {	/*(鼠标)悬浮状态*/
                             lineWidth: 1	/*曲线宽*/
                         }
                     }
                 }
             } ,
             //设置3条线宽度也可以在下面单独设置
             series: seriesOptions
           });
         };

   var jqxhr = $.getJSON('/funds/#{@fund.id}/get_history_data', function (data) {
    //  data = [
    //    {
    //      data:[
    //        [1147651200000,376.20],
    //        [1147737600000,371.30],
    //        [1147824000000,374.50],
    //        [1147910400000,370.99],
    //        [1147996800000,370.02],
    //        [1148256000000,370.95],
    //        [1148342400000,375.58],
    //        [1148428800000,381.25],
    //        [1148515200000,382.99],
    //        [1148601600000,381.35],
    //        [1148947200000,371.94],
    //        [1149033600000,371.82]
    //      ]
    //    },
    //    {
    //      data:[
    //        [1147651200000,76.20],
    //        [1147737600000,71.30],
    //        [1147824000000,74.50],
    //        [1147910400000,70.99],
    //        [1147996800000,70.02],
    //        [1148256000000,70.95],
    //        [1148342400000,75.58],
    //        [1148428800000,81.25],
    //        [1148515200000,82.99],
    //        [1148601600000,81.35],
    //        [1148947200000,71.94],
    //        [1149033600000,71.82]
    //      ]
    //    }
    //  ]
     $.each(names, function (i, name) {
       seriesOptions[i] = {
           name: name,
           data: data[i].data
       };
     });

     createChart();

   });
   jqxhr.error(function(){
     $("#fund_history_chart").hide();
     $("#fund_history_chart").parent().html('<h2 class="text-center p20">还没有历史数据</h2>')
    //  var data = [
    //    {
    //      data:[
    //        [1147651200000,376.20],
    //        [1147737600000,371.30],
    //        [1147824000000,374.50],
    //        [1147910400000,370.99],
    //        [1147996800000,370.02],
    //        [1148256000000,370.95],
    //        [1148342400000,375.58],
    //        [1148428800000,381.25],
    //        [1148515200000,382.99],
    //        [1148601600000,381.35],
    //        [1148947200000,371.94],
    //        [1149033600000,371.82]
    //      ]
    //    },
    //    {
    //      data:[
    //        [1147651200000,176.20],
    //        [1147737600000,171.30],
    //        [1147824000000,174.50],
    //        [1147910400000,170.99],
    //        [1147996800000,170.02],
    //        [1148256000000,170.95],
    //        [1148342400000,175.58],
    //        [1148428800000,181.25],
    //        [1148515200000,182.99],
    //        [1148601600000,181.35],
    //        [1148947200000,171.94],
    //        [1149033600000,171.82]
    //      ]
    //    }
    //  ]
     //

    //  $.each(names, function (i, name) {
    //    seriesOptions[i] = {
    //        name: name,
    //        data: data[i].data
    //    };
    //  });
     //
    //  createChart();

   });
  });
