.footer-v1
  .footer
    .container
      .row
        / About

        / End About
        / Link List
        .col-md-3.md-margin-bottom-40
          %ul.list-unstyled.link-list
            %li
              = link_to "公司简介",page_path("about/about_us")
              %i.fa.fa-angle-right
            %li
              = link_to "员工风采",page_path("about/about_staff")
              %i.fa.fa-angle-right
            %li
              = link_to "加入我们",page_path("about/join_us")
              %i.fa.fa-angle-right
            %li
              = link_to "联系我们",page_path("about/contact_us")
              %i.fa.fa-angle-right
        / /col-md-3
        / End Link List
        / Address
        .col-md-3.md-margin-bottom-40
          %ul.list-unstyled.link-list
            %li
              = link_to "信息安全",page_path("security/information_security")
              %i.fa.fa-angle-right
            %li
              = link_to "资金安全",page_path("security/money_safety")
              %i.fa.fa-angle-right
            %li
              = link_to "操作安全",page_path("security/processing_safety")
              %i.fa.fa-angle-right


        / /col-md-3
        / End Address
        .col-md-3.md-margin-bottom-40
          %ul.list-unstyled.link-list
            %li
              = link_to "新手指南",page_path("guides/beginners_guide")
              %i.fa.fa-angle-right
            %li
              = link_to "操作指引",page_path("guides/operating_procedure")
              %i.fa.fa-angle-right
            %li
              = link_to "常见问题",page_path("guides/faq")
              %i.fa.fa-angle-right
            %li
              = link_to "意见反馈",page_path("guides/feedback")
              %i.fa.fa-angle-right
            %li
              = link_to "软件下载",page_path("guides/download")
              %i.fa.fa-angle-right
        .col-md-3.md-margin-bottom-40
          %ul.list-unstyled.link-list
            %li
              = link_to "负责声明",page_path("statment/statement")
              %i.fa.fa-angle-right
            %li
              = link_to "费率说明",page_path("statment/tariff")
              %i.fa.fa-angle-right
            %li
              = link_to "自我保障",page_path("security/self_reliance")
              %i.fa.fa-angle-right
            %li
              = link_to "风控保障",page_path("security/risk_management")
              %i.fa.fa-angle-right
  / /footer
  .copyright
    .container
      .row
        .col-md-12.text-center
          版权所有  证津信息科技（上海）有限公司 Copyright Reserved 2015-2017
          %a{:href => "http://www.miibeian.gov.cn/", :target => "_blank", :rel => "nofollow"} 沪ICP备15010975号
  / /copyright
