.grid_2
  #sidebar.ui-side.ui-side-withicon
    %ul.ui-side-list.nav.nav-list.bs-docs-sidenav
      %li{:class => "ui-side-item #{'active' if activeItem=='user'}"}
        = link_to(current_user,class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-home.index.mr10.ml10>
          我的证金所
      %li{:class => "ui-side-item #{'active' if activeItem=='account'}"}
        %a.ui-side-item-link.pt0
          %i.glyphicon.glyphicon-usd.index.mr10.ml10>
          资金管理
      %li{:class => "ui-side-item #{'active' if activeItem=='invest'}"}
        = link_to(user_invests_path(current_user),class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-usd.index.mr10.ml10>
          投标管理
      %li{:class => "ui-side-item #{'active' if activeItem=='fund'}"}
        = link_to(user_funds_path(current_user),class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-usd.index.mr10.ml10>
          发标管理
      %li{:class => "ui-side-item #{'active' if activeItem=='leverage'}"}
        = link_to(user_leverages_path(current_user),class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-usd.index.mr10.ml10>
          配资管理
      %li{:class => "ui-side-item #{'active' if activeItem=='following'}"}
        = link_to(user_following_topics_path(current_user),class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-usd.index.mr10.ml10>
          我的关注
      %li{:class => "ui-side-item #{'active' if activeItem=='useredit'}"}
        = link_to(edit_user_registration_path,class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-cog.index.mr10.ml10>
          账号管理
    .ui-side-img.mt20
      %a{:style => "display: block; width:140px;overflow:hidden;"}
        %img{:alt => "账单", :height => "0", :src => "/upload/cms/advertising/accountIndexRight/2f529bde-554f-4f7b-afbe-2240c5fd573b.jpg?20140401a", :style => "width: 140px; display: none !important; visibility: hidden !important; opacity: 0 !important; background-position: 1px 1px;", :width => "0"}/
  :javascript
    // $(".ui-side-list > li > a").click(function() {
    //   $(this).parent().children().each(function() {
    //     if ($(this).hasClass("ui-side-sub-list")) {
    //       $(this).toggle();
    //     }
    //   })
    // });
