.grid_2
  .row.sky-form.text-center
    .input-image-wrapper.h100.w90.margin-auto.mb10-i.relative
      .input.input-file.input-image.pointer
        .button.circle
          %input#selectAvatar.pointer{:type =>"file", :multiple => "", :accept => "image/*"}
          %img.img-thumbnail.img-rounded.mw90.mh90{:src => "#{current_user.avatar.url}"}/
      = image_tag "cbp-loading.gif",class: 'picloader'
    %label.user_name.mt50
      hi,
      - if !current_user.real_name.blank?
        = current_user.real_name
      - elsif !current_user.username.blank?
        = current_user.username
      - else
        = current_user.cell
    .mb30.bg-gray.input-image-wrapper.width-all
      .input.input-file.input-image.pointer
        .button
          %input#selectAvatarBtn{:type =>"file", :multiple => "", :accept => "image/*"} 更换头像
  #sidebar.ui-side.ui-side-withicon
    %ul.ui-side-list.nav.nav-list.bs-docs-sidenav
      %li{:class => "ui-side-item first #{'active' if activeItem=='user'}"}
        = link_to(current_user,class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-home.index.mr10.ml10>
          我的摩尔街
      %li{:class => "ui-side-item #{'active' if activeItem=='account'}"}
        = link_to("javascript:;",class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-usd.index.mr10.ml10>
          资金管理
        %ul.ui-side-sub-list
          %li.ui-side-sub-item{:class => "#{'active' if @activeSubItem=='billings'}"}
            %a.ui-side-sub-item-link{:href => billings_path}交易记录
          %li.ui-side-sub-item{:class => "#{'active' if @activeSubItem=='cashin'}"}
            %a.ui-side-sub-item-link{:href => bankcard_charge_user_account_path(current_user)}充值
          %li.ui-side-sub-item{:class => "#{'active' if @activeSubItem=='cashout'}"}
            %a.ui-side-sub-item-link{:href => withdraw_user_account_path(current_user)}提现
          %li.ui-side-sub-item{:class => "#{'active' if @activeSubItem=='bankcards'}"}
            %a.ui-side-sub-item-link{:href => user_bank_card_path(current_user)}我的银行卡
      %li{:class => "ui-side-item #{'active' if activeItem=='invest'}"}
        = link_to(user_invests_path(current_user),class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-usd.index.mr10.ml10>
          投标管理
      %li{:class => "ui-side-item #{'active' if activeItem=='fund'}"}
        = link_to(user_funds_path(current_user),class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-usd.index.mr10.ml10>
          发标管理
      %li{:class => "ui-side-item #{'active' if activeItem=='leverage'}"}
        = link_to(user_leverages_path(current_user),class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-usd.index.mr10.ml10>
          配资管理
      %li{:class => "ui-side-item #{'active' if activeItem=='following'}"}
        = link_to(user_following_topics_path(current_user),class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-usd.index.mr10.ml10>
          我的关注
      %li{:class => "ui-side-item last #{'active' if activeItem=='useredit'}"}
        = link_to(edit_user_registration_path,class: "ui-side-item-link pt0") do
          %i.glyphicon.glyphicon-cog.index.mr10.ml10>
          账号管理
:javascript
  $(function(){
    $(".ui-side-list > li > a").click(function() {
      $(this).parent().children().each(function() {
        if ($(this).hasClass("ui-side-sub-list")) {
          $(this).toggle();
        }
      })
    });
  });
