<div class="grid_2">
  <div class="ui-side ui-side-withicon" id="sidebar">
    <ul class="ui-side-list nav nav-list bs-docs-sidenav">
      <li class="ui-side-item <%= 'active' if activeItem=='user' %>">
        <%= link_to(current_user,class: "ui-side-item-link pt0") do %>
          <i class="glyphicon glyphicon-home index  mr10 ml10"></i>我的证金所
        <% end %>
      </li>
      <li class="ui-side-item <%= 'active' if activeItem=='account' %>">
        <a class="ui-side-item-link pt0"><i class="glyphicon glyphicon-usd index mr10 ml10"></i>资金管理</a>
      </li>
      <li class="ui-side-item <%= 'active' if activeItem=='fund' %>">
        <%= link_to(user_funds_path(current_user),class: "ui-side-item-link pt0") do %>
          <i class="glyphicon glyphicon-usd index mr10 ml10"></i>发标管理
        <% end %>
      </li>
      <li class="ui-side-item <%= 'active' if activeItem=='invest' %>">
        <%= link_to(user_invests_path(current_user),class: "ui-side-item-link pt0") do %>
          <i class="glyphicon glyphicon-usd index mr10 ml10"></i>投标管理
        <% end %>
      </li>
      <li class="ui-side-item <%= 'active' if activeItem=='leverage' %>">
        <%= link_to(user_leverages_path(current_user),class: "ui-side-item-link pt0") do %>
          <i class="glyphicon glyphicon-usd index mr10 ml10"></i>配资管理
        <% end %>
      </li>
      <li class="ui-side-item <%= 'active' if activeItem=='following' %>">
        <%= link_to(user_following_topics_path(current_user),class: "ui-side-item-link pt0") do %>
          <i class="glyphicon glyphicon-usd index mr10 ml10"></i>我的关注
        <% end %>
      </li>
      <li class="ui-side-item <%= 'active' if activeItem=='useredit' %>">
        <%= link_to(edit_user_registration_path,class: "ui-side-item-link pt0") do %>
          <i class="glyphicon glyphicon-cog index mr10 ml10"></i>账号管理
        <% end %>
       </li>
    </ul>
    <div class="ui-side-img mt20">
  		<a style="display: block; width:140px;overflow:hidden;"><img style="width: 140px; display: none !important; visibility: hidden !important; opacity: 0 !important; background-position: 1px 1px;" src="/upload/cms/advertising/accountIndexRight/2f529bde-554f-4f7b-afbe-2240c5fd573b.jpg?20140401a" alt="账单" width="0" height="0"></a>
    </div>
  </div>
  <script>
    // $(".ui-side-list > li > a").click(function() {
    //   $(this).parent().children().each(function() {
    //     if ($(this).hasClass("ui-side-sub-list")) {
    //       $(this).toggle();
    //     }
    //   })
    // });
  </script>
</div>