.box.box-user-info
  .user-info-container.mt15
    .fn-clear.relative
      #info-box.fn-left.user-security-container
        .safe.fn-clear
          %span.fn-left.color-gray-text 安全认证
          #safe-progressbar.safe-progressbar.fn-left{:title => "25%"}
            .bar{:style => "width: 25px;"}
        .icons.fn-clear.mt5
          .row
            .col-md-12
              .btn-u.btn-u-xs{:class => "#{'btn-u-default direct_to_tab2' if current_user.cell.blank?}" "#{'btn-u-yellow' if !current_user.cell.blank?}",
                :href => "#{trader_apply_user_path(current_user) if current_user.cell.blank?}" "#{'javascript:;' if !current_user.cell.blank?}"} 手机
              .btn-u.btn-u-xs{:class => "#{'btn-u-default direct_to_tab2' if current_user.email.blank?}" "#{'btn-u-yellow' if !current_user.email.blank?}",
                :href => "#{trader_apply_user_path(current_user) if current_user.email.blank?}" "#{'javascript:;' if !current_user.email.blank?}"} 邮箱
              - @authenticated = !(current_user.level == 'unverified' || current_user.level == 'investor_applied')
              .btn-u.btn-u-xs{:class => "#{'btn-u-default direct_to_tab2' if !@authenticated}" "#{'btn-u-yellow' if @authenticated}",
                :href => "#{investor_apply_user_path(current_user) if !@authenticated}" "#{'javascript:;' if @authenticated}"} 身份证
              .btn-u.btn-u-xs{:class => "#{'btn-u-default direct_to_tab2' if current_user.address.blank?}" "#{'btn-u-yellow' if !current_user.address.blank?}",
                :href => "#{trader_apply_user_path(current_user) if current_user.address.blank?}" "#{'javascript:;' if !current_user.address.blank?}"} 住址
              .btn-u.btn-u-xs{:class => "#{'btn-u-default direct_to_tab2' if current_user.education.blank?}" "#{'btn-u-yellow' if !current_user.education.blank?}",
                :href => "#{trader_apply_user_path(current_user) if current_user.education.blank?}" "#{'javascript:;' if !current_user.education.blank?}"} 学历
      .fn-left.last.border-left.pl45.ml35.w500
        .surplus.fn-clear
          .text-l.mr10 账户余额（元）
          .num-xl.color-red.mr5.w250
            %label= current_user.account.balance
        .surplus-detail.fn-clear.mt10
          .fn-left.mr40
            .text.mr10 冻结金额（元）
            .num.last
              %label.color-red> 0.00
          .fn-right.last
            .text.mr10 可用金额（元）
            .num.last
              %label.color-red= current_user.account.balance
        .charge-btns.mt15
          = link_to "充值",bankcard_charge_user_account_path(current_user),class: "fn-left ui-button ui-button-blue ui-button-mid mr4"
          = link_to "提现",withdraw_user_account_path(current_user),class: "fn-left ui-button ui-button-red ui-button-mid last ml20"
%hr
