.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/profile_side_navbar", {activeItem: "invest"}
      .inline-block.relative.pg-account-detail
        = render "shares/profile"
        #profile-invest-show.tag-box.tag-box-v3.mt20
          %h2
            .glyphicon.glyphicon-usd
            已投资金额（元）：
            %span.color-red.text-l
              = @invests.sum(:amount)
          .mt40
          = render "invests/invest_list", ojbect: @current="xxx"

:javascript
  jQuery(document).ready(function() {
    $("#profile-invest-show tbody tr").click(function() {
      var invest_id = this.dataset.index;
      window.open("/users/" + "#{current_user.id}" +"/invests/" + invest_id,'_blank');
    });
    $("#profile-invest-show tbody tr").addClass("pointer");
  });
