.pg-container-content
  #pg-account-index.pg-account
    .container.content.fn-clear
      .bg-white.p30
        = render "shares/profile_side_navbar", {activeItem: "invest"}
        .inline-block.relative.pg-account-detail
          = render "shares/profile"
          #profile-invest-show.tag-box.tag-box-v3.mt20
            .w200.dis-in-block.border-r
              .fs18 已投资金额（元）：
              %div.color-red.text-l
                = @invests.sum(:amount)
            .w200.dis-in-block.border-r
              .fs18
                已经赚取的金额（元）：
              %div.color-red.text-l
                = @invests.sum(:amount)
            .w200.dis-in-block
              .fs18
                已经投资的标的（个）：
              %div.color-red.text-l
                = @invests.sum(:amount)

            .mt20
            = render "invests/invest_list", ojbect: @current="xxx"

:javascript
  jQuery(document).ready(function() {
    $("#profile-invest-show tbody tr").click(function() {
      var invest_id = $(this).attr("data-index");
      window.open("/users/" + "#{current_user.id}" +"/invests/" + invest_id,'_blank');
    });
    $("#profile-invest-show tbody tr").addClass("pointer");
  });
