.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/profile_side_navbar", {activeItem: "invest"}
      .inline-block.relative.pg-account-detail
        = render "shares/profile"
        .tag-box.tag-box-v3.mt20.p20
          %h3
            = @invest.fund.name
            = link_to user_invests_path(current_user),class: "ml10" do
              %span.icon-action-undo
          .progress
            .progress-bar.progress-bar-info.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{( @invest.fund.raised_amount/ @invest.fund.amount * 100).floor}", :role => "progressbar", :style => "width: #{( @invest.fund.raised_amount/ @invest.fund.amount * 100).floor}%"}
              = ( @invest.fund.raised_amount/ @invest.fund.amount * 100).floor.to_s + "%"
          .tab-v1
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#fund-home-1"} 基金首页
              %li
                %a{"data-toggle" => "tab", :href => "#fund-comment-1"} 相关评论
            .tab-content.row
              #fund-home-1.tab-pane.fade.active.in
                .col-md-2.col-sm-2.text-center
                  .red 5389
                  %span.counter 投标人数
                .col-md-9.col-sm-9
                  %h4
                    = Fund.human_attribute_name('amount')
                    \：
                    = @invest.fund.amount
                  %span
                    = Fund.human_attribute_name('collection_deadline')
                    \：
                    %span.formattime= @invest.fund.collection_deadline
                  .mt20
                    %div 操盘账号: x200x
                    %div 操盘密码: xxxxxxxxxx
                    %a.btn-u.btn-u-blue.mt10{:href => "javascript:;"} 操盘入口
              #fund-comment-1.tab-pane.fade
