.p20.col-md-12
  .row
    .col-md-3.text-center.mb40
      .avatar
        = image_tag user.avatar.url,class: "img-thumbnail img-rounded w70"
      .username.mt5
        %span 基金发起人：
        %span
          - if @flag
            = user.username
          - else
            = check_private(user.username,@fund.private_check)
      .btn-group.mt5
        %a.btn-u.btn-u-blue{:href => "javascript:;"} 关注
        %a.btn-u.btn-u-red{:href => "javascript:;"} 私信
    .col-md-9
      .tag-box.tag-box-v3.col-md-12.mr20
        .row
          .col-md-5
            姓名：
            - if @flag
              = user.real_name
            - else
              = check_private(user.real_name,@fund.private_check)
          .col-md-3
            年龄：
            - if @flag
              = user.age
            - else
              = check_private(user.age.to_s,@fund.private_check)
            岁
          .col-md-4
            性别：
            - if @flag
              = I18n.t(user.gender)
            - else
              = check_private(I18n.t(user.gender),@fund.private_check)
        .row.mt10
          .col-md-5
            用户ID：
            - if @flag
              = user.id
            - else
              = check_private(user.id.to_s,@fund.private_check)
          .col-md-3
            学历：
            - if @flag
              = user.education
            - else
              = check_private(user.education,@fund.private_check)
          .col-md-4
            工作：
            - if @flag
              = user.job
            - else
              = check_private(user.job,@fund.private_check)
        .row.mt10
          .col-md-12
            现居地：
            - if @flag
              = user.address
            - else
              = check_private(user.address,@fund.private_check)
        .row.mt10
          .col-md-12
            自我介绍：
            = user.abstract
  .tag-box.tag-box-v3.mb0
    .row
      .col-md-8
        .headline.headline-md.relative
          %h4 历史业绩
        .text-center
          %span.chart-label1
          %span.mr15 我的业绩
          %span.chart-label2
          %span 恒生指数
          %canvas#history_chart.chart_box.h200
      .col-md-4
        .headline.headline-md
          %h4 历史数据
          = link_to "更多",show_history_data_user_path(user.id),class: "float-right"
        .mt10
          - if @list_array
            %table.table.table-striped
              %thead
                %tr
                  %th 日期
                  %th 净值
              %tbody
                - @list_array.each do |f|
                  %tr
                    %td
                      = f[0]
                    %td
                      = f[1]
          - else
            %h2.text-center 还没有历史数据
    .row
      .col-md-12
        .headline.headline-md
          %h4 证明图片
        .mt10
          - if @verify_photos
            .owl-carousel-v2.owl-carousel-style-v1
              .owl-slider-v2
                - @verify_photos.each do |f|
                  .item
                    %a.fancybox-button.zoomer{:href => f.photo.url, 'data-rel' => "fancybox-button"}
                      %span.overlay-zoom
                        = image_tag f.photo.url.split("?")[0] + '?imageView2/5/w/200/h/100/interlace/1',class: "img-responsive"
                        %span.zoom-icon
              .owl-navigation
                .customNavigation
                  %a.owl-btn.prev-v2
                    %i.fa.fa-angle-left
                  %a.owl-btn.next-v2
                    %i.fa.fa-angle-right
          - else
            %h2.text-center 还没有证明图片
:javascript
  $(function(){
    $.ajax({
      url: "/users/#{user.id}/get_history_data",
      type: 'get',
      contentType: false,
      processData: false,
      success: function (data) {
        var history_ctx = $("#history_chart").get(0).getContext("2d");
        //  data = {
        //       labels: ["3.1", "3.2", " ", "3.9", "3.11", "3.13", "3.15"],
        //       datasets: [
        //           {
        //               data: [65, 59, 80, 81, 56, 55, 40]
        //           },
        //           {
        //               data: [28, 48, 40, 19, 86, 27, 90]
        //           }
        //       ]
        //   };
        var history_data = {
                              labels: data.labels,
                              datasets: [
                                  {
                                      label: "我的业绩",
                                      fillColor: "rgba(220,220,220,0.2)",
                                      strokeColor: "rgba(230,76,60,1)",
                                      pointColor: "rgba(230,76,60,1)",
                                      pointStrokeColor: "#fff",
                                      pointHighlightFill: "#fff",
                                      pointHighlightStroke: "rgba(220,220,220,1)",
                                      data: data.datasets[0].data
                                  },
                                  {
                                      label: "恒生指数",
                                      fillColor: "rgba(151,187,205,0.2)",
                                      strokeColor: "rgba(52,151,218,1)",
                                      pointColor: "rgba(52,151,218,1)",
                                      pointStrokeColor: "#fff",
                                      pointHighlightFill: "#fff",
                                      pointHighlightStroke: "rgba(151,187,205,1)",
                                      data: data.datasets[1].data
                                  }
                              ]
                          };
        var options = {
          pointHitDetectionRadius : 2,
          pointDot : false,
          datasetFill : false,
          scaleFontColor: "#666",
          multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"
        };
        var historyChart = new Chart(history_ctx).Line(history_data,options);
      },
      error: function () {
        $("#history_chart").hide();
        $("#history_chart").parent().html('<h2 class="text-center p20">还没有历史数据</h2>')
        console.log("get_chart_data error...");
      }
    });
  });
