.p20.col-md-12
  .row
    .col-md-3.text-center.mb40
      .avatar
        = image_tag user.avatar.url,class: "img-thumbnail img-rounded w70"
      .username.mt5
        %span 基金发起人：
        %span
          - if @flag
            = user.username
          - else
            = check_private(user.username,@fund.private_check)
      .btn-group.mt5
        %a.btn-u.btn-u-blue{:href => "javascript:;"} 关注
        %a.btn-u.btn-u-red{:href => "javascript:;"} 私信
    .col-md-9
      .tag-box.tag-box-v3.col-md-12.mr20
        .row
          .col-md-5
            姓名：
            - if @flag
              = user.real_name
            - else
              = check_private(user.real_name,@fund.private_check)
          .col-md-3
            年龄：
            - if @flag
              = user.age
            - else
              = check_private(user.age.to_s,@fund.private_check)
            岁
          .col-md-4
            性别：
            - if @flag
              = I18n.t(user.gender)
            - else
              = check_private(I18n.t(user.gender),@fund.private_check)
        .row.mt10
          .col-md-5
            用户ID：
            - if @flag
              = user.id
            - else
              = check_private(user.id.to_s,@fund.private_check)
          .col-md-3
            学历：
            - if @flag
              = user.education
            - else
              = check_private(user.education,@fund.private_check)
          .col-md-4
            工作：
            - if @flag
              = user.job
            - else
              = check_private(user.job,@fund.private_check)
        .row.mt10
          .col-md-12
            现居地：
            - if @flag
              = user.address
            - else
              = check_private(user.address,@fund.private_check)
  .row
    .col-md-4
      .headline.headline-md
        %h4 自我介绍
      .mt10
        = user.abstract
    .col-md-4
      .headline.headline-md
        %h4 历史折线图
      .mt10
        %canvas#history_chart.chart_box.h200
    .col-md-4
      .headline.headline-md
        %h4 证明图片
      .mt10

:javascript
  $(function(){
    $.ajax({
      url: "/users/#{user.id}/get_history_data",
      type: 'get',
      contentType: false,
      processData: false,
      success: function (data) {
        var history_ctx = $("#history_chart").get(0).getContext("2d");
        data = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    data: [65, 59, 80, 81, 56, 55, 40]
                },
                {
                    data: [28, 48, 40, 19, 86, 27, 90]
                }
            ]
        };
        var history_data = {
                              labels: data.labels,
                              datasets: [
                                  {
                                      label: "My First dataset",
                                      fillColor: "rgba(220,220,220,0.2)",
                                      strokeColor: "rgba(220,220,220,1)",
                                      pointColor: "rgba(220,220,220,1)",
                                      pointStrokeColor: "#fff",
                                      pointHighlightFill: "#fff",
                                      pointHighlightStroke: "rgba(220,220,220,1)",
                                      data: data.datasets[0].data
                                  },
                                  {
                                      label: "My Second dataset",
                                      fillColor: "rgba(151,187,205,0.2)",
                                      strokeColor: "rgba(151,187,205,1)",
                                      pointColor: "rgba(151,187,205,1)",
                                      pointStrokeColor: "#fff",
                                      pointHighlightFill: "#fff",
                                      pointHighlightStroke: "rgba(151,187,205,1)",
                                      data: data.datasets[1].data
                                  }
                              ]
                          };
        var options = {
          pointHitDetectionRadius : 2,
          pointDot : false,
          datasetFill : false
        };
        var historyChart = new Chart(history_ctx).Line(history_data,options);
      },
      error: function () {
        $("#history_chart").hide();
        console.log("get_chart_data error...");
      }
    });
  });
