.p20.col-xs-12
  .tag-box.tag-box-v3.pt10.pb0i
    .row
      .col-xs-12
        .col-xs-4.text-center.mb40
          .avatar
            = image_tag user.avatar.url,class: "img-thumbnail img-rounded w160 #{'blur' unless @flag}"
          .username.mt5
            %span 交易员：
            %span
              - if @flag
                = user.username
              - else
                = check_private(user.username,@fund.private_check)
          -# .btn-group.mt5
          -#   %a.btn-u.btn-u-blue{:href => "javascript:;"} 关注
          -#   %a.btn-u.btn-u-red{:href => "javascript:;"} 私信 /* cap1 */
        .col-xs-8
          .tag-box.tag-box-v3.col-xs-12.mr20.mb20i
            .row
              .col-md-4
                姓名：
                - if @flag
                  = user.real_name
                - else
                  = check_private(user.real_name,@fund.private_check)
              .col-md-4
                年龄：
                - if @flag
                  = user.age
                - else
                  = check_private(user.age.to_s,@fund.private_check)
                岁
              .col-md-4
                性别：
                - if @flag
                  = I18n.t(user.gender)
                - else
                  = check_private(I18n.t(user.gender),@fund.private_check)
            .row.mt10
              .col-md-4
                用户ID：
                - if @flag
                  = user.id
                - else
                  = check_private(user.id.to_s,@fund.private_check)
              .col-md-4
                学历：
                - if @flag
                  = user.education
                - else
                  = check_private(user.education,@fund.private_check)
              .col-md-4
                职业：
                - if @flag
                  = user.job
                - else
                  = check_private(user.job,@fund.private_check)
            .row.mt10
              .col-md-12
                现居地：
                - if @flag
                  = user.address
                - else
                  = check_private(user.address,@fund.private_check)
            .row.mt10.abstract
              .col-md-12
                %label.zdy-red 自我介绍：
                -# .tag-box.tag-box-v3.mb0.border-black.mt10
                = user.abstract

  .tag-box.tag-box-v3.mb0
    .row
      .col-md-4.col-sm-6.col-xs-6
        .headline.headline-md.relative
          %h4 历史业绩
        .text-center
          #history_chart.chart_box
      .col-md-4.col-sm-6.col-xs-6
        .headline.headline-md
          %h4 历史数据
          = link_to "更多",show_history_data_user_path(user.id),class: "float-right"
        .mt10
          - if @list_array
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th.text-center 净值时间
                  %th.text-center 单位净值
                  %th.text-center 增长率
              %tbody
                - @list_array.each do |f|
                  %tr
                    %td.text-center
                      = f[0]
                    %td.text-center
                      = f[1]
                    %td.text-center
          - else
            %h2.text-center.p20 还没有历史数据
      .col-md-4.col-sm-12.col-xs-12
        .headline.headline-md
          %h4 证明图片
        .mt10
          - if @verify_photos && !@verify_photos.empty?
            .owl-carousel-v1.owl-carousel-style-v1
              .owl-navigation
                .customNavigation
                  %a.owl-btn.prev-v1
                    %i.fa.fa-angle-left
                  %a.owl-btn.next-v1
                    %i.fa.fa-angle-right
              .owl-slider
                - @verify_photos.each do |f|
                  .item
                    %a.fancybox-button.zoomer{:href => f.photo.url, 'data-rel' => "fancybox-button"}
                      %span.overlay-zoom
                        = image_tag f.photo.url.split("?")[0] + '?imageView2/1/w/335/h/168/interlace/1',class: "img-responsive" if f.photo && f.photo.url
                        %span.zoom-icon

          - else
            %h2.text-center.p20 还没有证明图片
:javascript
  $(function(){
    var seriesOptions = [],
        seriesCounter = 0,
        names = ['我的业绩', '沪深300'],
        createChart = function () {
            var chart1 = new Highcharts.StockChart({
              colors: ['#D5402E', '#1868AB'],
              chart:
              {
                  renderTo: 'history_chart',
                  width: 300,
                  height: 230
              },

              credits:
              {
                  enabled: true,
                  href: null,
                  text: ''
              },
              exporting:{ enabled:false},
              title: { text:null, style:{color:'#004789'}},
              rangeSelector: {  enabled:false},
              tooltip:
              {
                  enabled: true,
                  crosshairs: true,
                  formatter: function()
                  {

                      var header = '<b>时间: ' + Highcharts.dateFormat('%Y年%m月%d日 ', this.x)+'</b>';
                      $.each(this.points, function(i, point)
                      {
                          header += '<br/><span style="color:' + this.point.series.color + '">' + this.point.series.name +':'+Highcharts.numberFormat(this.y,4)+'</span>';
                      });
                      return header;
                  }
              },
              xAxis:
              {


                  type: 'datetime',
                  gridLineDashStyle: 'longdash',


                  dateTimeLabelFormats:
                  {
                      second: '%Y-%m-%d<br/>%H:%M:%S',
                      minute: '%Y-%m-%d<br/>%H:%M',
                      hour: '%Y-%m-%d<br/>%H:%M',
                      day: '%Y<br/>%m-%d',
                      week: '%Y<br/>%m-%d',
                      month: '%Y-%m',
                      year: '%Y'
                  },
                  gridLineWidth: 1,
                  lineColor: '#000',
                  tickColor: '#000',
                  showFirstLabel:true,
                  showLastLabel:true,
                  labels:
                  {

                      style:
                      {
                          color: '#000',
                          font: '11px Trebuchet MS, Verdana, sans-serif',
                          align: 'right',
                          style: { font: 'normal 13px 宋体' }
                      },
                      formatter: function()
                      {

                          return Highcharts.dateFormat('%Y-%m-%d',this.value);
                      }
                  },
                  title:
                  {
                      style:
                      {
                          color: '#333',
                          fontWeight: 'bold',
                          fontSize: '12px',
                          fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              },

              yAxis:
              {
                  showLastLabel :true,
              //    max:max_shuzhi,
              //    min:min_shuzhi,
                  tickPixelInterval :40,
                  lineColor: '#000',
                  lineWidth: 1,
                  tickWidth: 1,

                  tickColor: '#000',
                  labels:
                  {
                      align:'right',
                      x:-10,
                      y:5,
                      style:
                      {
                          color: '#000',
                          font: '11px Trebuchet MS, Verdana, sans-serif'
                      }
                  },
                  title:
                  {
                      style:
                      {
                          color: '#333',
                          fontWeight: 'bold',
                          fontSize: '12px',
                          fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              },
              legend:
              {
                  enabled: true,
                  itemStyle:
                  {
                      font: '9pt Trebuchet MS, Verdana, sans-serif',
                      color: '#004789'

                  },
                  itemHoverStyle:
                  {
                      color: '#004789'
                  }

              },
              scrollbar:{enabled:false},
              navigator:
              {
                  enabled:true,
                  top:160,
                  height:20,
                  xAxis:
                  {
                      labels:
                      {
                          enabled:false
                      }
                  }

              },

              plotOptions:
              {
                  series:{ lineWidth:1 },
                  line:
                  {
                      cursor:'pointer',
                      shadow:false,
                      states:
                      {	/*状态*/
                          hover:
                          {	/*(鼠标)悬浮状态*/
                              lineWidth: 1	/*曲线宽*/
                          }
                      }
                  }
              } ,
              //设置3条线宽度也可以在下面单独设置
              series: seriesOptions
            });
          };

    var jqxhr = $.getJSON('/users/#{user.id}/get_history_data', function (data) {

      $.each(names, function (i, name) {
        seriesOptions[i] = {
            name: name,
            data: data[i].data
        };
      });

      createChart();

    });
    jqxhr.error(function(){
      $("#history_chart").hide();
      $("#history_chart").parent().html('<h2 class="text-center p20">还没有历史数据</h2>')
      // var data = [
      //   {
      //     data:[
      //       [1147651200000,376.20],
      //       [1147737600000,371.30],
      //       [1147824000000,374.50],
      //       [1147910400000,370.99],
      //       [1147996800000,370.02],
      //       [1148256000000,370.95],
      //       [1148342400000,375.58],
      //       [1148428800000,381.25],
      //       [1148515200000,382.99],
      //       [1148601600000,381.35],
      //       [1148947200000,371.94],
      //       [1149033600000,371.82]
      //     ]
      //   },
      //   {
      //     data:[
      //       [1147651200000,76.20],
      //       [1147737600000,71.30],
      //       [1147824000000,74.50],
      //       [1147910400000,70.99],
      //       [1147996800000,70.02],
      //       [1148256000000,70.95],
      //       [1148342400000,75.58],
      //       [1148428800000,81.25],
      //       [1148515200000,82.99],
      //       [1148601600000,81.35],
      //       [1148947200000,71.94],
      //       [1149033600000,71.82]
      //     ]
      //   }
      // ]
      //

      // $.each(names, function (i, name) {
      //   seriesOptions[i] = {
      //       name: name,
      //       data: data[i].data
      //   };
      // });
      //
      // createChart();

    });

  });
