.container.content
  .row
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      = form_for("user", :url => { :action => "update_password" }, html: { class: "reg-page" } ) do |f|
        .reg-header
          %h2 更改密码
        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-key
          = f.text_field :code, autofocus: true, placeholder: "验证码", class: "form-control"
        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-phone
          = f.text_field :cell, autofocus: true, placeholder: "手机号", class: "form-control"
        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-lock
          = f.password_field :password, :autocomplete => "off", :placeholder => "密码", class: "form-control"
        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-lock
          = f.password_field :password_confirmation, :placeholder => "确认密码", class: "form-control"
        .row
          .col-md-12
            %button.btn-u.btn-u-default.pull-right.col-sm-12{:type => "submit"} 确认更改
