= form_for("user", :url => { :action => "update_password" } ) do |f|
  .field
    = f.label :code, "验证码"
    %br/
    = f.text_field :code
  .field
    = f.label :cell, "手机号"
    %br/
    = f.text_field :cell
  .field
    = f.label :password, "Password"
    %br/
    = f.password_field :password, :autocomplete => "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .action_container
    = f.submit