.container.content
  %h3.text-center.zdy-red 实名认证
  %hr
  = simple_nested_form_for(@user,url: investor_applied_user_path,   |
    html: { class: 'form-horizontal sky-form', id: 'authentication_form',enctype: "multipart/form-data" },                     |
    wrapper: :horizontal_form,                              |
    wrapper_mappings: {                                     |
    check_boxes: :horizontal_radio_and_checkboxes,          |
    radio_buttons: :horizontal_radio_and_checkboxes,      |
    file: :horizontal_file_input,                         |
    boolean: :horizontal_boolean}) do |f|                 |
    - if current_user.real_name.blank?
      = f.input :real_name
      = f.input :id_card_number
    - else
      .form-group.optional
        %label.optional.col-sm-3.control-label
          %span
            = User.human_attribute_name('real_name')
            \:
        .col-sm-9.mt5
          %span.bold= current_user.real_name
      .form-group.optional
        %label.optional.col-sm-3.control-label
          %span
            = User.human_attribute_name('id_card_number')
            \:
        .col-sm-9.mt5
          %span.bold= current_user.id_card_number
    = f.fields_for :identity_photos do |photo_form|
      .form-group.optional
        %label.optional.col-sm-3.control-label
          %span{:name => "user[identity_photos_attributes][#{photo_form.index}][title]", :value => "#{photo_form.object.title}"}= photo_form.object.title
        .col-sm-9
          %label.input.input-file
            .button
              %input{:type =>"file", :name =>"user[identity_photos_attributes][#{photo_form.index}][photo]", :multiple => "", :onchange => "this.parentNode.nextElementSibling.value = this.value", :accept => "image/*"} 浏览
            %input{:type => "text", :readonly => ""}
      .text-center
        = image_tag current_user.identity_photos[photo_form.index].photo.url,class: "img-thumbnail img-rounded #{'w300' if !current_user.identity_photos[photo_form.index].photo.blank?}"
    .text-center
      = f.button :submit
