.container.content
  %h2 忘记密码?
  = form_for(resource, url: update_password_users_path, html: { method: :post }) do |f|
    = devise_error_messages!
    .field
      = f.label :cell
      %br/
      = f.text_field :cell
    .actions.mt15
      = f.submit "发送新密码到手机", class: "btn-u btn-u-default"
