%h2 Forgot your password?
= form_for(resource, url: update_password_users_path, html: { method: :post }) do |f|
  = devise_error_messages!
  .field
    = f.label :cell
    %br/
    = f.text_field :cell
  .actions
    = f.submit "Send me reset password instructions"
= render "devise/shared/links"
