.jumbotron.home
  / 安全  收益 保障
  .container.content.pb0i.aq-sy-bz
    / Begin Service Block
    .row.text-center.margin-bottom-60
      .col-md-4.md-margin-bottom-50
        = image_tag "home_aq_icon.png",class:"image-md margin-bottom-20"
        %h1.title-v3-md.margin-bottom-10 资金安全
        %p 账户券商托管，资金银行托管，全程无其他方介入，透明可见，资金，账户保证安全。
      .col-md-4.flat-service.md-margin-bottom-50
        = image_tag "home_sy_icon.png",class:"image-md margin-bottom-20"
        %h1.title-v3-md.margin-bottom-10 收益更高
        %p 以20%的风险换取20%-200%的浮动收益，小风险大回报，财富快速增值，值得一试。
      .col-md-4.flat-service
        = image_tag "home_bz_icon.png",class:"image-md margin-bottom-20"
        %h1.title-v3-md.margin-bottom-10 简单方便
        %p 全方位交流、信息全面、在线委托操盘，实时查看，简单、安心、便捷，良好体验。
    / End Begin Service Block
  / 投资操盘列表
  .container.content.pt0i.pb0i
    .loan.mb.fn-clear.w1010
      .grid_12
        .headline.headline-md
          %h2.bold 投资列表
        %ul#loan-list.ui-list.ui-list-m.ui-list-invest.table-cell
          %li#loan-list-header.ui-list-header.fn-clear.zdy-bg-gray
            %span.ui-list-title.fn-left.color-gray-text.w110 发标人
            %span.ui-list-title.fn-left.color-gray-text.w200 名称
            %span.ui-list-title.fn-left.color-gray-text.w180 类型
            %span.ui-list-title.fn-left.color-gray-text.text-center.w160 金额
            %span.ui-list-title.fn-left.color-gray-text.text-center.w80 预期收益率
            %span.ui-list-title.fn-left.color-gray-text.text-center.w80 期限
            %span.ui-list-title.fn-left.color-gray-text.text-center.w90 进度
            %span.ui-list-title.fn-left.color-gray-text.text-center.w80  状态
          - @last_ten_funds.each do |f|
            %li.ui-list-item.fn-clear
              %a{:href => new_fund_invest_path(f.id)}
                %span.ui-list-field.fn-left.text-big.w110.text-center
                  %em.value>= check_private(f.user.username,f.private_check)
                  -# %img.img-circle.ui-progressbar-mid{:height => "50", :src => f.user.avatar.url, :width => "50",:class => "#{'blur' if f.private_check == 'private'}"}/
                %span.ui-list-field.fn-left.text-big.w200.text-center
                  %span.fn-left.w200.rrd-dimgray.fn-text-overflow= check_private(f.name,f.private_check)
                %span.ui-list-field.fn-left.text-big.w180.text-center
                  %em.value>= check_private(f.genre,f.private_check)
                %span.ui-list-field.fn-left.num.text-right.w160.text-center
                  %em.value>= f.amount
                  元
                %span.ui-list-field.fn-left.num.text-center.w80.zdy-red
                  %em.value>= f.expected_earning_rate
                  = "%" if f.expected_earning_rate
                %span.ui-list-field.fn-left.num.text-center.w80.pr0.ellipsis
                  %em.value>= f.duration
                  个月
                %span.ui-list-field.fn-left.w90
                  %strong.ui-progressbar-mid{:class => "ui-progressbar-mid-"+"#{(f.raised_amount/f.amount * 100).floor}"}
                    %em>= (f.raised_amount/f.amount * 100).floor
                    \%
                %span.ui-list-field.fn-left.w80
                  - if f.state == 'gathering'
                    %button.ui-button.ui-button-mid.ui-button-red.ui-list-invest-button
                      募集中
                  - elsif f.state == 'reached'
                    %button.ui-button.ui-button-mid.ui-button-gray.ui-list-invest-button
                      已投满
                  - else
                    %button.ui-button.ui-button-mid.ui-button-gray.ui-list-invest-button
                      = f.state
          %li.ui-list-more
            =link_to "查看更多投资理财项目",funds_path
  .block-v1.pt0i.pb0i
    .container
      .row.content-boxes-v3
        .col-md-12
          .headline.headline-md
            %h2 用户心声
        .col-md-4.col-sm-4.md-margin-bottom-30
          .row
            .col-md-2.col-sm-2
            .col-md-4.col-sm-4.mb20
              %img.img-circle.w100{:src => asset_path("home_user/home_user1.png")}/
            .col-md-6.col-sm-6.mt20
              %h2.heading-sm 操盘手
              %h3.heading-sm 张先生
          .content-boxes-in-v3
            %p “之前一直是帮几个朋友打理账户，收益不错，但账户清算、交易软件、产品发行等很不方便，有了摩尔街，轻松解决了这些问题，让我有更多的精力投入交易操作。”
        .col-md-4.col-sm-4.md-margin-bottom-30
          .row
            .col-md-2.col-sm-2
            .col-md-4.col-sm-4.mb20
              %img.img-circle.w100{:src => asset_path("home_user/home_user2.jpg")}/
            .col-md-6.col-sm-6.mt20
              %h2.heading-sm 投资人
              %h3.heading-sm 刘女士
          .content-boxes-in-v3
            %p “随时股市行情上升，股票投资的收益远远超过其他理财方式。由于平时要上班，没时间研究股票，但通过摩尔街，可以找到最好的操盘手为我服务，收益也有保障。”
        .col-md-4.col-sm-4
          .row
            .col-md-2.col-sm-2
            .col-md-4.col-sm-4.mb20
              %img.img-circle.w100{:src => asset_path("home_user/home_user3.jpg")}/
            .col-md-6.col-sm-6.mt20
              %h2.heading-sm 配资客户
              %h3.heading-sm 王先生
          .content-boxes-in-v3
            %p “我在摩尔街的配资体验非常不错，高效、服务好。而且他们团队成员都是名校毕业，安全性上也有保障，我会跟他们长期合作。”
  .container.content.pt0i
    .row
      .col-md-12
        .headline.headline-md
          %h2.bold 合作伙伴
      .col-md-12.home_partners.text-center
        .text-center.homebank.w800.mg-a
          %a.bank_item{:href => "https://www.baidu.com"}
            = image_tag "homebank.jpg",class:"homebank-img1"
          %a.bank_item
            = image_tag "homebank.jpg",class:"homebank-img2"
          %a.bank_item
            = image_tag "homebank.jpg",class:"homebank-img3"
          %a.bank_item
            = image_tag "homebank.jpg",class:"homebank-img4"
          %a.bank_item
            = image_tag "homebank.jpg",class:"homebank-img5"
          %a.bank_item
            = image_tag "homebank.jpg",class:"homebank-img6"
          %a.bank_item
            = image_tag "homebank.jpg",class:"homebank-img7"
          %a.bank_item
            = image_tag "homebank.jpg",class:"homebank-img8"


  / /*cap1*/
  -# .container.content
  -#
  -#   .col-md-7
  -#     #news-section.news.mb.fn-clear.pr40
  -#       .mt10
  -#         .headline.headline-md
  -#           %h2.on
  -#             最新动态
  -#           = link_to "查看更多","#",class: "darkgray float-right mt10"
  -#         %ul#news-list.ui-list.ui-list-m.ui-list-news
  -#           - @last_ten_news.each do |f|
  -#             %li.ui-list-item.fn-clear
  -#               %p.fn-left.field.decoration
  -#               %p.fn-left.field.text.color-silver-text.fn-text-overflow
  -#                 = link_to "#{f.title}","#",class: "title text-big rrd-dimgray"
  -#                 %span.content.text-small
  -#               %p.fn-left.field.date.color-darkgray-text.formattime= f.date
  -#   .col-md-5.border-left
  -#     .posts.pl40
  -#       .headline.headline-md
  -#         %h2
  -#           热门话题
  -#         = link_to "查看更多","#",class: "darkgray float-right mt10"
  -#       - @last_ten_topics.each do |f|
  -#         %dl.dl-horizontal
  -#           %dt
  -#             %a{:href => "#"}
  -#               %img{:alt => "", :src => f.user.avatar}/
  -#           %dd
  -#             %p
  -#               %a{:href => "#"}= f.content

- @navItem = 'home'
