.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/profile_side_navbar", {activeItem: "leverage"}
      .inline-block.relative.pg-account-detail
        = render "shares/profile"
        #profile-leverage-show.tag-box.tag-box-v3.mt20.p20
          %h2
            .glyphicon.glyphicon-usd
            配资累计：
            %span.color-red.text-l
              = @leverages.sum(:amount)
          = render "leverages/leverage_list"


:javascript
  jQuery(document).ready(function() {
    $("#profile-leverage-show tbody tr").click(function() {

      var leverage_id = $(this).attr("data-index");
      window.open("/users/" + "#{current_user.id}" +"/leverages/" + leverage_id,'_blank');
    });
    $("#profile-leverage-show tbody tr").addClass("pointer");
  });
