.container.content
  .row
    .col-md-12
      .panel.panel-grey
        .panel-heading
          .panel-title 配资管理
        .panel-title
          %table.table.table-striped.table-bordered
            %tbody
              %tr
                %td 订单号
                %td  xxxxxx
              %tr
                %td= Leverage.human_attribute_name('amount')
                %td
                  = @leverage.amount
                  元
              %tr
                %td= Interest.human_attribute_name('leverage_time')
                %td
                  = @leverage.interest.leverage_time*@leverage.amount
                  元
              %tr
                %td= Leverage.human_attribute_name('created_at')
                %td.formattime= @leverage.created_at
              %tr
                %td= Leverage.human_attribute_name('date')
                %td.formattime= @leverage.date
              %tr
                %td= Leverage.human_attribute_name('deadline')
                %td.formattime= @leverage.deadline
              %tr
                %td 亏损警告线
                %td xxxxxx
              %tr
                %td 亏损平仓线
                %td xxxxxx
              %tr
                %td 借款利息
                %td xxxxxx
              %tr
                %td 借款月利率
                %td xxxxxx
              %tr
                %td 追加保证金
                %td xxxxxx
              %tr
                %td= Leverage.human_attribute_name('state')
                %td= @leverage.state
  .text-center
    %a.btn-u.btn-u-blue.add-bond 追加保证金
    %a.btn-u.btn-u-blue.pre-get 盈利提出
    %a.btn-u.btn-u-blue.pre-wind-up 提前清盘
:javascript
  $(function(){
    $(".add-bond").click(function(){
      var add_bond = window.prompt("输入追加的保证金数额:");
    });
    $(".pre-get").click(function(){
      var pre_get = window.prompt("输入盈利提出的数额:");
    });
    $(".pre-wind-up").click(function(){
      var pre_wind_up = window.confirm("是否提前清盘");
      if (pre_wind_up==true){

      }else {

      }
    });
  });
