%tr
  %td= billing.created_at.to_date
  %td= billing.id
  %td= billing.account.user.username if billing.account &&  billing.account.user
  %td= billing.billing_type
  %td= billing.amount
  %td= billing.billable_type
  %td= billing.billable_id
  %td= link_to '在线支付', realtime_trade_billing_path(billing)  if billing.billing_type == "Third"
