<tr>
  <td><%= billing.created_at.to_date %></td>
  <td><%= billing.id %></td>
  <td><%= billing.account.user.username if billing.account &&  billing.account.user %></td>
  <td><%= billing.billing_type %></td>
  <td><%= billing.amount %></td>
  <td><%= billing.billable_type %></td>
  <td><%= billing.billable_id %></td>
  <td><%= link_to 'Pay online', realtime_trade_billing_path(billing)  if billing.billing_type == "Third" %></td>
</tr>
