%tr
  %td.w90= billing.created_at.to_date
  %td= billing.billing_number
  -# %td= billing.account.user.username if billing.account &&  billing.account.user
  %td.w90= billing.billing_type
  %td.color-red= billing.amount
  %td 
  %td= billing.state
  %td.w75= link_to '在线支付', 'javascript:;','data-index': billing.id  if billing.billing_type == "Third"

