- @activeSubItem = 'bankcards'
.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/profile_side_navbar", {activeItem: "account"}
      .inline-block.relative.pg-account-detail
        = render "shares/profile"
        .panel.panel-default
          .panel-heading
            %h3.panel-title 我的银行卡
          .panel-body
            %dl.dl-horizontal
              = simple_form_for(@bank_card, url: user_bank_card_path, html:{class: "sky-form",onsubmit: "return confirm_bank()"}) do |f|
                = f.input :number
                .form-group.string
                  %label.control-label 确认卡号
                  %input#bank_number_confirm.form-control{:type => "text"}
                = f.input :bank_name
                = f.input :bank_branch
                = f.button :submit

:javascript
  function confirm_bank() {
    if ($("#bank_card_number").val().split(" ").join("") === ""){
      alert("请填写您的银行卡号");
      return false;
    }
    if ($("#bank_number_confirm").val() !== $("#bank_card_number").val()){
      alert("两次输入的卡号不一致，请确认！");
      return false;
    }
  }
