/ https://github.com/plataformatec/simple_form
.container.content
  .leverage-new
    = simple_form_for(@leverage, html: { class: 'form-horizontal sky-form' }, |
      wrapper: :horizontal_form,                                 |
      wrapper_mappings: {                                        |
      check_boxes: :horizontal_radio_and_checkboxes,             |
      radio_buttons: :horizontal_radio_and_checkboxes,           |
      file: :horizontal_file_input,                              |
      boolean: :horizontal_boolean}) do |f|                      |
      .row
        .col.col-md-6.mr40.leverage-control-l
          .row.mt20
            %h3= Leverage.human_attribute_name('description')
            %input.form-control{:name => "leverage[description]"}
          .mt20
          .row.mt20
            %h3= Leverage.human_attribute_name('amount')
            .input-group
              %input.form-control.text-center{:name => "leverage[amount]",
                :id => "leverage_amount", :maxlength => 7}
              %span.input-group-addon  元
          .mt20
          .row.mt20
            %h3= Leverage.human_attribute_name('interest')
            - (1..5).each do |index|
              .col-md-4{:class => "#{'ml70' if index == 4}"}
                .service-block.rounded-2x.service-block-default.leverage-interest-item.relative{:class => "#{'active' if 5==index}"}
                  %input{:type => "radio",:name => "leverage[leverage_time]",:value => "#{index}",:checked => "#{'checked' if 5==index}",:class => "leverage_time"}
                  %h3{:id => "leverage_time_#{index}"} 0元
        .col.col-md-4.border-left
          .row.mt20.pl40
            %h3 确认操盘信息
            %ul
              %li.info_item
                .lbl
                  %span= Leverage.human_attribute_name('duration')
                  .pz_tips_1
                    .pz_tips_hd
                      %span.icon-question.ui_ico
                    .pz_tips_bd
                      %em.caret
                      %p 每月按30天计算，如使用1个月，11月16日至12月15日
                  %span ：
                .cnt.select
                  %select{:name => "leverage[duration]"}
                    - (1..6).each do |index|
                      %option{:value => "#{index}", :selected => "#{'selected' if index == 6}"}= "#{index}个月"
              %li.info_item
                .lbl
                  %span 总操盘资金
                  .pz_tips_1
                    .pz_tips_hd
                      %span.icon-question.ui_ico
                    .pz_tips_bd
                      %em.caret
                      %p 投资本金＋配资金额
                  %span ：
                .cnt
                  %span.leverage_total_amount 0
                  %span 元
              %li.info_item
                .lbl
                  %span 亏损警告线
                  .pz_tips_1
                    .pz_tips_hd
                      %span.icon-question.ui_ico
                    .pz_tips_bd
                      %em.caret
                      %p 投资本金＋配资金额
                  %span ：
                .cnt
                  %span.leverage_lose_warning 0
                  %span 元
              %li.info_item
                .lbl
                  %span 亏损平仓线
                  .pz_tips_1
                    .pz_tips_hd
                      %span.icon-question.ui_ico
                    .pz_tips_bd
                      %em.caret
                      %p 投资本金＋配资金额
                  %span ：
                .cnt
                  %span.leverage_lose_making 0
                  %span 元
              %li.info_item
                .lbl
                  %span 借款利息
                  .pz_tips_1
                    .pz_tips_hd
                      %span.icon-question.ui_ico
                    .pz_tips_bd
                      %em.caret
                      %p 投资本金＋配资金额
                  %span ：
                .cnt
                  %span.leverage_total_interests 0
                  %span 元
              %li.info_item
                .lbl
                  %span 借款月利率
                  .pz_tips_1
                    .pz_tips_hd
                      %span.icon-question.ui_ico
                    .pz_tips_bd
                      %em.caret
                      %p 投资本金＋配资金额
                  %span ：
                .cnt
                  %span.leverage_rate 0
                  %span % /月
      %hr
      = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
      = f.input :date, as: :hidden, input_html: { value: Time.now() }
      = f.input :state, as: :hidden, input_html: { value: 'applied' }
      .row.mt40.mb20.text-center
        = f.submit class: "btn-u btn-u-blue"
:javascript
  $(function() {
    $(".leverage-interest-item").click(function() {
      $(".leverage-interest-item").removeClass("active");
      $(this).addClass("active");
    });
    $(".pz_tips_1").hover(function(){
      $(this).children(".pz_tips_bd").show();
    },function() {
      $(this).children(".pz_tips_bd").hide();
    });
    leverage_amount.oninput = function() {
      var crt_amount = parseInt($("#leverage_amount").val()) || 0;
      $("#leverage_amount").val(crt_amount);
      getOrderMonthRate();
      changeAmount();
    }

    $("input[name='leverage[leverage_time]']").click(function(){
      getOrderMonthRate();
    });
    $("select[name='leverage[duration]']").change(function(){
      getOrderMonthRate();
    });

    function changeAmount() {
      var crt_amount = parseInt($("#leverage_amount").val()) || 0;
      for (var i=1; i <= 5; i++){
        $("#leverage_time_"+i).text(i*crt_amount + "元");
      }
    }

    //ajax
    function getOrderMonthRate() {
      var amount = parseInt($("#leverage_amount").val());
      var leverage_time = $("input[name='leverage[leverage_time]']:checked").val();
      var duration = $("select[name='leverage[duration]']  option:selected").val();
      var postdata = {
        "amount": amount,
        "leverage_time": leverage_time,
        "duration": duration
      };
      var post_url = "/leverages/query_rate";
      var post_type = 'post';
      $.ajax({
        url: post_url,
        type: post_type,
        dataType: 'json',
        data: JSON.stringify(postdata),
        processData: false,
        headers: {
          'X-CSRF-Token': $("input[name='authenticity_token']").val()
        },
        contentType: "application/json; charset=UTF-8",
        success: function(data) {
          console.log(data)
          $(".leverage_total_amount").text(data.total_amount);
          $(".leverage_lose_warning").text(data.loss_warning_line);
          $(".leverage_lose_making").text(data.loss_making_line);
          $(".leverage_total_interests").text(data.total_interests);
          $(".leverage_rate").text(data.rate);
        },
        error: function() {
          console.log("系统繁忙，请稍后再试");
        }
      });
    }

  });
