
- if @leverages.blank?
  %h2.text-center 没有找到合适标的

%table.table.table-striped.table-bordered.mt40
  %thead
    %tr
      / %th 发标人
      %th= Leverage.human_attribute_name('description')
      %th= Leverage.human_attribute_name('deadline')
      / %th Fund.human_attribute_name('minimum')
      %th= Interest.human_attribute_name('leverage_time')
      %th= Leverage.human_attribute_name('amount')
      %th= Leverage.human_attribute_name('state')
  -# todo, 处理 private_check
  %tbody
    - @leverages.each do |f|
      %tr{'data-index' => f.id}
        %td= f.description
        / %td= f.user.username
        %td.formattime= f.deadline
        / %td= f.minimum
        %td= f.interest.leverage_time
        %td= f.amount
        %td= f.state
