/ https://github.com/plataformatec/simple_form


.col-md-1
.col-md-10
  = simple_form_for(@fund, html: { class: 'form-horizontal sky-form',onsubmit: "return scrollToErr()"}, |
    wrapper: :horizontal_form,                                 |
    wrapper_mappings: {                                        |
    check_boxes: :horizontal_radio_and_checkboxes,             |
    radio_buttons: :horizontal_radio_and_checkboxes,           |
    file: :horizontal_file_input,                              |
    boolean: :horizontal_boolean}) do |f|                      |
    .form-group
      .col-sm-3.control-label
      .col-sm-9.pt5
        %label.w130 是否为暗标：
        %span.mr10
          %input{:class => "radio_buttons optional", :type => "radio", :value => "private",
            :name => "fund[private_check]", :id => "fund_private_check_private"}
            是
        %span.mr10
          %input{:class => "radio_buttons optional", :type => "radio", :value => "public",
            :checked => "",:name => "fund[private_check]", :id => "fund_private_check_public"}
            否
        %span 什么是暗标
        .pz_tips_1
          .pz_tips_hd
            %span.icon-question.ui_ico
          .pz_tips_bd
            %em.caret
            %p 投资本金＋配资金额
    .form-group.private_check_control.zdy-hide
      .col-sm-3.control-label
      .col-sm-9.pt5
        %label.w130 是否账户托管：
        %span.mr10
          %input{:class => "radio_buttons optional", :type => "radio", :value => "true",
           :checked => "checked", :name => "fund[mandate]"}
            是
        %span.mr10
          %input{:class => "radio_buttons optional", :type => "radio", :value => "false",
            :name => "fund[mandate]"}
            否
        %span 什么是账户托管
        .pz_tips_1
          .pz_tips_hd
            %span.icon-question.ui_ico
          .pz_tips_bd
            %em.caret
            %p 投资本金＋配资金额
    = f.input :user_id, as: :hidden, input_html: { value: "#{current_user.id if current_user}"}
    %hr
    .form-group.text-center
      .col-sm-2
      .col-sm-4
        %label= Fund.human_attribute_name('amount')
        .input-group
          %input.form-control.text-center.numberic{:name => "fund[amount]",:maxlength => 7, :required => ""}
          %span.input-group-addon  元
      .col-sm-4
        %label= Fund.human_attribute_name('expected_earning_rate')
        .input-group
          %input.form-control.text-center.numberic{:name => "fund[expected_earning_rate]",:maxlength => 3, :required => ""}
          %span.input-group-addon  ％
    .form-group.text-center
      .col-sm-2
      .col-sm-4
        %label= Fund.human_attribute_name('duration')
        .input-group
          .select
            %select{:name => "fund[duration]"}
              - (1..12).each do |index|
                %option{:value => "#{index}", :selected => "#{'selected' if index == 12}"}= "#{index}"
            %i
          %span.input-group-addon  个月
      .col-sm-4
        %label= Fund.human_attribute_name('ending_days')
        .input-group
          .select
            %select{:name => "fund[ending_days]"}
              - (1..30).each do |index|
                %option{:value => "#{index}", :selected => "#{'selected' if index == 30}"}= "#{index}"
            %i
          %span.input-group-addon  天
    .form-group.text-center
      .col-sm-2
      .col-sm-4
        %label 受托管理费（占超额业绩的）
        .input-group
          %input.form-control.text-center.numberic{:name => "fund[management_fee]",:maxlength => 3}
          %span.input-group-addon  ％
    -# .form-group.text-center
    -#   .col-sm-2
    -#   .col-sm-4
    -#     %label= Fund.human_attribute_name('minimum')
    -#     .input-group
    -#       %input.form-control.text-center.numberic{:name => "fund[minimum]",:maxlength => 7}
    -#       %span.input-group-addon  元
    %hr
      .form-group.text-center
        .col-sm-2
        .col-sm-8
          %label
            = Fund.human_attribute_name('description')
            \（50到1000字）
          %br
          %textarea.form-control.full_with{:name => "fund[description]",:minlength => "50", :maxlength => "1000", :required => "",:tooltip => "请填写50字到1000字"}
      .form-group.text-center
        .col-sm-2
        .col-sm-8
          %label
            = Fund.human_attribute_name('frontend_risk_method')
            \（30到300字）
          %br
          %textarea.form-control.full_with{:name => "fund[frontend_risk_method]",:minlength => "30", :maxlength => "300", :required => "",:tooltip => "请填写30字到300字"}
    = f.input :earning, as: :hidden
    = f.input :earning_rate, as: :hidden
    = f.input :initial_amount, as: :hidden
    %hr
    .row.mt40.mb20.text-center
      .mb10
        %input#check{:type => "checkbox",:checked => ""}/
        我已阅读并同意
        %a.color-blue.sky-blue-i.wtcp_items{:href => "javascript:;"} 条款
      = f.submit class: "hide",id: 'subbtn'
      %button.btn-u.btn-u-red#submit{:name => "commit", :type => "button"} 发标
:javascript
  $(function() {
    $("input[name='fund[private_check]']").click(function() {
      if($(this).val() === 'public') {
        $(".private_check_control").hide();
      }else {
        $(".private_check_control").show();
      }
    });
    $(".wtcp_items").click(function(){
      var winHeight = 600;
      var winWidth = 600;
      var winLeft = (screen.width-600)/2;
      var winTop = (screen.height-600)/2;
      window.open("/wtcp_items.html", "newwindow", "height="+winHeight+", width="+winWidth+", toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no, left="+winLeft+", top="+winTop);
    });
    $("input[name='fund[amount]'],input[name='fund[expected_earning_rate]'],input[name='fund[management_fee]']").bind("input",function() {
      var _self = this;
      check_val($(_self));
    });
    $("textarea[name='fund[description]'],textarea[name='fund[frontend_risk_method]']").bind("input",function() {
      var _self = this;
      check_length($(_self));
    });
    //输入检查
    $('#submit').bind('click',function(){
      check_val($("input[name='fund[amount]'],input[name='fund[expected_earning_rate]'],input[name='fund[management_fee]']"));
      check_length($("textarea[name='fund[description]'],textarea[name='fund[frontend_risk_method]']"));

      // if (scrollToErr()) return;
      if($(this).closest('form').find('#check').attr('checked')){
        $('#subbtn').click();
      }else{
        alert('请您先阅读并勾选确认条款');
      }
    });
  });
