
- if @funds.blank?
  %h2.text-center 没有找到合适标的

%table.table.table-striped.table-bordered.mt40
  %thead
    %tr
      / %th 发标人
      - unless @current=="xxx"
        %th= Fund.human_attribute_name('user')
      %th= Fund.human_attribute_name('name')
      %th 类型
      %th= Fund.human_attribute_name('amount')
      %th= Fund.human_attribute_name('expected_earning_rate')
      %th= Fund.human_attribute_name('duration')
      %th 进度
      %th= Fund.human_attribute_name('state')
      - if @current=="xxx"
        %th 暗标码
        %th 电子合同
  -# todo, 处理 private_check
  %tbody
    - @funds.each do |f|
      %tr{'data-index' => f.id}
        - unless @current=="xxx"
          %td= f.user.email
        %td= f.name
        %td= f.genre
        %td
          = f.amount
          = '元' unless f.amount.blank?
        %td
          = f.expected_earning_rate
          = '%' unless f.expected_earning_rate.blank?
        %td
          = f.duration
          = '个月' unless f.duration.blank?
        %td
          %strong.ui-progressbar-mid{:class => "ui-progressbar-mid-"+"#{(f.raised_amount/f.amount * 100).floor}"}
            %em>= (f.raised_amount/f.amount * 100).floor
            \%
        - unless @current=="xxx"
          %td
            - if f.state == "gathering"
              = link_to "我要投标",new_fund_invest_path(f.id),class: "btn-u btn-u-xs btn-u-blue" unless @invest
            - elsif f.state == "reached"
              = link_to "已投满","javascript:;",class: "btn-u btn-u-xs btn-u-default" unless @invest
        - else
          %td= f.state
          %td= f.private_code
          %td
            %a{:href => "javascript:;"} 委托操盘合同
