
- if @funds.empty?
  %h2.text-center 没有找到合适标的

%table.table.table-striped.mt40
  %thead
    %tr
      / %th 发标人
      -# %th= Fund.human_attribute_name('id')
      - unless @current=="xxx"
        %th= Fund.human_attribute_name('user')
      %th= Fund.human_attribute_name('name')
      %th 类型
      %th= Fund.human_attribute_name('amount')
      %th= Fund.human_attribute_name('expected_earning_rate')
      %th= Fund.human_attribute_name('duration')
      %th 明／暗标
      %th 进度
      %th= Fund.human_attribute_name('state')
      - if @current=="xxx"
        %th 暗标码
        %th 合同
  -# todo, 处理 private_check
  %tbody
    - @funds.each do |f|
      %tr{'data-index' => "#{f.id unless @current === 'xxx'}",'data-state' => f.state}
        -# %td= f.id
        - unless @current=="xxx"
          %td= check_private(f.user.username,f.private_check)
          %td= f.name
          %td= check_private(f.genre,f.private_check)
        - else
          -# %td= f.name
          %td=link_to f.name,user_fund_path(user_id: current_user,id: f.id)
          %td= f.genre
        %td.color-red
          = f.amount
          = '元' unless f.amount.blank?
        %td.color-red
          = f.expected_earning_rate
          = '%' unless f.expected_earning_rate.blank?
        %td
          = f.duration
          = '个月' unless f.duration.blank?
        %td
          - if f.private_check == 'private'
            暗标
          - else
            明标
        %td
          %strong.ui-progressbar-mid{:class => "ui-progressbar-mid-"+"#{(f.raised_amount/f.amount * 100).floor}"}
            %em>= (f.raised_amount/f.amount * 100).floor
            \%
        - unless @current=="xxx"
          %td
            - if f.state == "gathering"
              = link_to "我要投资","javascript:;",class: "btn-u btn-u btn-u-blue w90 text-center" unless @invest
            - elsif f.state == "reached"
              = link_to "已投满","javascript:;",class: "btn-u btn-u btn-u-default w90 text-center" unless @invest
        - else
          %td= t(f.state)
          %td= f.private_code
          %td=link_to '合同',"/trader_agreement/"+f.id.to_s,target: "blank"
.text-right
  = will_paginate @funds
