
- if @funds.blank?
  %h2.text-center 没有找到合适标的

%table.table.table-striped.table-bordered.mt40
  %thead
    %tr
      %th 标的代号
      %th 发标人
      %th 标的价格
      %th 操作截止日期
      %th 最小投标金额
      %th 标的开始时间
      %th 标的到期时间
      %th 状态
      %th
      %th
  -# todo, 处理 private_check
  %tbody
    - @funds.each do |f|
      %tr
        %td= f.name
        %td= f.user.nick_name
        %td= f.amount
        %td.formattime= f.collection_deadline
        %td= f.minimum
        %td.formattime= f.invest_starting_date
        %td.formattime= f.invest_ending_date
        %td= f.state
        %td
          = link_to "详细",fund_path(f.id),class: "btn-u btn-u-xs btn-u-blue"
        %td
          %a.btn-u.btn-u-xs.btn-u-blue{:href => "javascript:;"} 我要投标
