-# 这里应该创建局部模板

%div.container.content
  %h2.text-center 项目投标
  %div.tag-box.tag-box-v3.mt20.p20.pt0
    %label 项目筛选
    %div.container.content
      %form.sky-form
        %section.col.col-3
          %label 持续时间(>)
          .input-group
            .select
              %select{:name => "duration"}
                - (1..6).each do |index|
                  %option{:value => "#{index}", :selected => "#{'selected' if index == 6}"}= "#{index}"
              %i
            %span.input-group-addon  个月
        %section.col.col-3
          %label 募集总额(>)
          .input-group
            %input.form-control.text-center.numberic{:type => "text",:name => "amount",:maxlength => 7}
            %span.input-group-addon  元
        %section.col.col-3
          %label 截止日期(<)
          %input.form-control{:type => "date",:name => "deadline"}
        %button.btn.btn-danger.mt25.mr20{:type => "submit"}
          %i.fa.fa-search
        %a.btn.btn-danger.mt25{:href => "/funds"} 查看所有
        -# %section.col.col-3
        -#   %div.input-group
        -#     %span.input-group-btn.custom-right
        -#       %input.form-control{:type => "text",:name => "v4"}
        -#       %button.btn.btn-danger{:type => "submit"}
        -#         %i.fa.fa-search

  = render partial: 'fund_list'

= @navItem = 'funds'
= content_for :navItem
