-# 这里应该创建局部模板

%div.container.content.w1000
  .headline.headline-md
    %h2.zdy-red 投资列表

  %div.container.content
    %form.sky-form
      %section.col.col-2
        %label.fs18 操盘时间(>=)
        .input-group
          .select 
            %select{:name => "duration"}
              - [12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1].each do |index|
                %option{:value => "#{index}", :selected => "#{'selected' if index == 1}"}= "#{index}"
            %i
          %span.input-group-addon  个月
      %section.col.col-2
        %label.fs18 募集总额
        .input-group
          .select
            %select{:name => "amount"}
              %option{:value => "0", :selected => "selected"}= "全部"
              %option{:value => "1"}= "1-100"
              %option{:value => "2"}= "100-300"
              %option{:value => "3"}= "300-500"
              %option{:value => "4"}= ">500"
            %i
          %span.input-group-addon  万元
      %section.col.col-2
        %label.fs18 预期年化收益率
        .input-group
          .select
            %select{:name => "expected_earning_rate"}
              %option{:value => "0", :selected => "selected"}= "全部"
              %option{:value => "1"}= "1-20"
              %option{:value => "2"}= "20-50"
              %option{:value => "3"}= "50-100"
              %option{:value => "4"}= ">100"
            %i
          %span.input-group-addon  ％
      %section.col.col-2
        %label.fs18 明／暗标
        .input-group
          .select
            %select{:name => "private_check"}
              %option{:value => "0", :selected => "selected"}= "全部"
              %option{:value => "public"}= "明"
              %option{:value => "private"}= "暗"
            %i
          %span.input-group-addon  标
      %section.col.col-4
        %button.btn-u.btn-u-dark-blue.mt32.mr10.w90{:type => "submit"}
          %i.fa.fa-search
          搜索
        %a.btn-u.btn-u-red.mt32.w90.text-center{:href => "/funds"} 查看所有
      -# %section.col.col-3
      -#   %div.input-group
      -#     %span.input-group-btn.custom-right
      -#       %input.form-control{:type => "text",:name => "v4"}
      -#       %button.btn.btn-danger{:type => "submit"}
      -#         %i.fa.fa-search

  = render partial: 'fund_list'


:javascript
  $(function(){
    $("table tbody tr").click(function() {
      // if (this.dataset.state === 'gathering') {
        var invest_id = $(this).attr("data-index");
        window.location.href = "/funds/" + invest_id + "/invests/new";
      // }
    });
    $("table tbody tr").addClass("pointer");
  });

- @navItem = 'funds'
