!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bull
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    / CSS Global Compulsory
    %link{:href => asset_path("one.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("plugins/bootstrap.min.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("style.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("one.style.css"), :rel => "stylesheet"}/
    / CSS Implementing Plugins
    %link{:href => asset_path("plugins/line-icons.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("plugins/font-awesome/css/font-awesome.min.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("plugins/img-hover.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("sky-forms.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("custom-sky-forms.css"), :rel => "stylesheet"}/
    / CSS Page Style
    %link{:href => asset_path("pages/blog.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("pages/page_log_reg_v1.css"), :rel => "stylesheet"}/
    / CSS Theme
    %link{:href => asset_path("theme-colors/default.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("shop.style.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("plugins/perfect-scrollbar.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("plugins/owl.carousel.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("plugins/settings.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("pages/page_job.css"), :rel => "stylesheet"}/
    / CSS Customization
    %link{:href => asset_path("custom.css"), :rel => "stylesheet"}/
    %link{:href => asset_path("common.css"), :rel => "stylesheet"}/
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:src => asset_path("plugins/jquery-migrate.min.js"), :type => "text/javascript"}

    / JS Implementing Plugins
    %script{:src => asset_path("plugins/back-to-top.js"), :type => "text/javascript"}
    %script{:src => asset_path("plugins/owl.carousel.js")}
    %script{:src => asset_path("plugins/jquery.mousewheel.js")}
    %script{:src => asset_path("plugins/perfect-scrollbar.js")}
    %script{:src => asset_path("plugins/jquery.parallax.js")}
    %script{:src => asset_path("plugins/jquery.themepunch.tools.min.js")}
    %script{:src => asset_path("plugins/jquery.themepunch.revolution.min.js")}
    %script{:src => asset_path("plugins/moment-with-locales.js")}
    / JS Customization
    %script{:src => asset_path("custom.js")}
    / JS Page Level
    %script{:src => asset_path("shop.app.js")}
    %script{:src => asset_path("plugins/owl-carousel.js")}
    %script{:src => asset_path("plugins/revolution-slider.js")}
    / JS Page Level
    %script{:src => asset_path("common.js")}
    = csrf_meta_tags
  %body
    .wapper
      = render "shares/navbar"
      = yield
      = render "shares/footer"
    :javascript
      jQuery(document).ready(function() {
            App.init();
            App.initParallaxBg();
            OwlCarousel.initOwlCarousel();
            RevolutionSlider.initRSfullWidth();

            $(".formattime").each(function() {
              $(this).text(moment($(this).text()).format('YYYY-MM-DD'));
            });

            $(".pz_tips_1").hover(function(){
              $(this).children(".pz_tips_bd").show();
            },function() {
              $(this).children(".pz_tips_bd").hide();
            });
            $(".numberic").each(function(){
              this.oninput = function() {
                var crt_amount = parseInt($(this).val()) || 0;
                $(this).val(crt_amount);
              }
            })
        });
