- @activeSubItem = 'cashin'
.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/profile_side_navbar", {activeItem: "account"}
      .inline-block.relative.pg-account-detail
        = render "shares/profile"
        .tab-v2
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#bankcharge"} 网银充值
            %li
              %a{"data-toggle" => "tab", :href => "#zfbcharge"} 支付宝转账
            %li
              %a{"data-toggle" => "tab", :href => "#banktrans"} 银行转账
          .tab-content
            #bankcharge.tab-pane.fade.active.in
              = render "profile/cash_management/bankcharge"
            #zfbcharge.tab-pane.fade
              = render "profile/cash_management/zfbcharge"
            #banktrans.tab-pane.fade
              = render "profile/cash_management/bank_trans"

        = simple_form_for(@billing, url: bankcard_charged_user_account_path) do |f|
          = f.input :amount
          = f.input :billing_type, collection: ["nongye", "gongshang"]
          = f.button :submit
